.center {
  text-align: center !important;
}

.left {
  text-align: left !important;
}

.right {
  text-align: right !important;
}

.top0 {
  margin-top: 0 !important;
}

.top5 {
  margin-top: 5px !important;
}

.top10 {
  margin-top: 10px !important;
}

.top15 {
  margin-top: 15px !important;
}

.top20 {
  margin-top: 20px !important;
}

.top25 {
  margin-top: 25px !important;
}

.top30 {
  margin-top: 30px !important;
}

.top35 {
  margin-top: 35px !important;
}

.top40 {
  margin-top: 40px !important;
}

.btm0 {
  margin-bottom: 0 !important;
}

.btm5 {
  margin-bottom: 5px !important;
}

.btm10 {
  margin-bottom: 10px !important;
}

.btm15 {
  margin-bottom: 15px !important;
}

.btm20 {
  margin-bottom: 20px !important;
}

.btm25 {
  margin-bottom: 25px !important;
}

.btm30 {
  margin-bottom: 30px !important;
}

.btm35 {
  margin-bottom: 35px !important;
}

.btm40 {
  margin-bottom: 40px !important;
}

.btm45 {
  margin-bottom: 45px !important;
}

.btm50 {
  margin-bottom: 50px !important;
}

.btm55 {
  margin-bottom: 55px !important;
}

.btm60 {
  margin-bottom: 60px !important;
}

.btm65 {
  margin-bottom: 65px !important;
}

.btm70 {
  margin-bottom: 70px !important;
}

.btm75 {
  margin-bottom: 75px !important;
}

.btm80 {
  margin-bottom: 80px !important;
}

.btm85 {
  margin-bottom: 85px !important;
}

.btm90 {
  margin-bottom: 90px !important;
}

.btm95 {
  margin-bottom: 90px !important;
}

.pT0 {
  padding-top: 0 !important;
}

.pT5 {
  padding-top: 5px !important;
}

.pT10 {
  padding-top: 10px !important;
}

.pT15 {
  padding-top: 15px !important;
}

.pT20 {
  padding-top: 20px !important;
}

.pT25 {
  padding-top: 25px !important;
}

.pT30 {
  padding-top: 30px !important;
}

.pT35 {
  padding-top: 35px !important;
}

.pT40 {
  padding-top: 40px !important;
}

.pT45 {
  padding-top: 45px !important;
}

.pT80 {
  padding-top: 80px !important;
}

.pT90 {
  padding-top: 90px !important;
}

.pT100 {
  padding-top: 100px !important;
}

.pB0 {
  padding-bottom: 0 !important;
}

.pB5 {
  padding-bottom: 5px !important;
}

.pB10 {
  padding-bottom: 10px !important;
}

.pB15 {
  padding-bottom: 15px !important;
}

.pB20 {
  padding-bottom: 20px !important;
}

.pL10 {
  padding-left: 10px !important;
}

.lm5 {
  margin-left: 5px !important;
}

.lm10 {
  margin-left: 10px !important;
}

.lm15 {
  margin-left: 15px !important;
}

.lm20 {
  margin-left: 20px !important;
}

.lm50 {
  margin-left: 50px !important;
}

.lm60 {
  margin-left: 60px !important;
}

.lm70 {
  margin-left: 70px !important;
}

.rm5 {
  margin-right: 5px !important;
}

.rm10 {
  margin-right: 10px !important;
}

.rm15 {
  margin-right: 15px !important;
}

.rm20 {
  margin-right: 20px !important;
}

.vAT {
  vertical-align: top !important;
}

.vAM {
  vertical-align: middle !important;
}

.vAB {
  vertical-align: bottom !important;
}

.size10 {
  font-size: 57% !important;
  line-height: 1.3 !important;
}

.size11 {
  font-size: 65% !important;
  line-height: 1.3 !important;
}

.size12 {
  font-size: 70% !important;
  line-height: 1.3 !important;
}

.size13 {
  font-size: 77% !important;
  line-height: 1.3 !important;
}

.size14 {
  font-size: 85% !important;
}

.size15 {
  font-size: 93% !important;
}

.size16 {
  font-size: 100% !important;
}

.size17 {
  font-size: 116% !important;
}

.size18 {
  font-size: 123.1% !important;
}

.size19 {
  font-size: 131% !important;
}

.size20 {
  font-size: 138.5% !important;
}

.size21 {
  font-size: 146.5% !important;
}

.size22 {
  font-size: 153.9% !important;
}

.size23 {
  font-size: 161.6% !important;
}

.size24 {
  font-size: 167% !important;
}

.w10 {
  width: 10% !important;
}

.w20 {
  width: 20% !important;
}

.w30 {
  width: 30% !important;
}

.w40 {
  width: 40% !important;
}

.w50 {
  width: 50% !important;
}

.w60 {
  width: 60% !important;
}

.w70 {
  width: 70% !important;
}

.w80 {
  width: 80% !important;
}

.w100 {
  width: 100% !important;
}

.red {
  color: #a51f2a !important;
  font-size: 12px;
}

.red02 {
  color: #a51f2a !important;
}

.org {
  color: #EB5F00;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.icon {
  margin-right: 3px;
  vertical-align: middle;
  margin-top: -1px;
}

.f_l {
  float: left !important;
}

.f_r {
  float: right !important;
}

.mr {
  margin-right: 20px !important;
}

.ml {
  margin-left: 20px !important;
}

.clearfix:after {
  content: ".";
  height: 0;
  clear: both;
  display: block;
  font-size: 0.1em;
  line-height: 0;
  visibility: hidden;
}

.clearfix {
  /*display: inline-block;*/
  min-height: 1%;
  clear: both;
}

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}

a {
  text-decoration: none;
  color: #555;
}

a.link01 {
  background: url(../image/sub_yajirushi02.gif) no-repeat left 5px;
  text-decoration: underline;
  padding-left: 12px;
}

a.link01:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  color: #555;
}

/* End hide from IE-mac */
.pra {
  position: relative;
}

.li14 {
  line-height: 120% !important;
}

.li20 {
  line-height: 200% !important;
}

.li25 {
  line-height: 250% !important;
}

table td.alignC a {
  color: #990000 !important;
}

.alignC {
  text-align: center;
}

.alignR {
  text-align: right;
}

br.dis01 {
  display: none;
}

/*loading*/
hr.kai001 {
  font-size: 0;
  line-height: 0;
  height: 0;
  border: none;
  position: absolute;
  top: -100px;
  left: 0;
}

#op {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 1000;
}

#op p {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 311px;
  height: 124px;
  margin-left: -156px;
  margin-top: -62px;
  display: none;
}

#op p img {
  width: 100%;
  height: auto;
}

/* .counterfeit > a {
  display:block !important;
 } 

.counterfeit > a > img {
  width: 100% !important;
  display: block !important;
} */

.price-change-title {
  font-size: 21px;
  text-align: center;
}

#product-select {
  display: block;
  margin: 39px auto;
  padding: 18px 19px;
  outline: none;
  border: 1px #EAEAEA solid;
}

#date-display li {
  padding: 18px 19px;
  text-align: center;
  /* border-top: 1px #EAEAEA solid; */
  margin: 0 auto;
  /* max-width: 42.5%; */
}

#date-display li:last-child {
  /* margin: 0 auto 39px auto; */
  margin: 0 auto;
  border-bottom: 1px #EAEAEA solid;
}

#date-display li:hover {
  background-color: #F8F8F8;
}

#date-display.hide-border, #date-display.hide-border:hover {
  border: none;
  background-color: #fff;
}

.price-change-sum {
  display: block;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 768px) {

  /* .counterfeit > a {
    display:block !important;
    width: 90% !important;
  }
  
  .counterfeit > a > img {
    width: 100% !important;
    margin: -1rem auto 5rem auto !important; 
    display: block !important;
  } */
  
  #op p {
    width: 155px;
    height: 62px;
    margin-left: -78px;
    margin-top: -31px;
  }

  #date-display li {
    max-width: 90%;
  }
}
#progressBar {
  position: fixed;
  left: 0;
  top: 50%;
  width: 0;
  height: 2px;
  background-color: #fab3b3;
}

/*loading*/
header {
  border-bottom: solid 1px #ddd;
  padding-bottom: 10px;
  margin-bottom: 26px;
}
header #h_sp {
  display: none;
}
header #h_sp p#s_logo {
  padding-top: 13px;
  /*padding-left:15px;
  float:left;*/
  left: 50%;
  margin-left: -44px;
  position: absolute;
  padding-left: 0;
}
header #h_sp #menu {
  /*padding-top:18px;
  padding-right:15px;
  float:left;
  cursor:pointer;*/
}
header #h_sp #menu {
  float: left;
  display: inline-block;
  position: relative;
  width: 54px;
  height: 54px;
  /* margin: 20px 0 10px;
   border-radius: 50%;*/
  background: #eee;
}
header #h_sp #menu:hover {
  background: #ddd;
  opacity: 1;
}
header #h_sp #panel-btn-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 2px;
  margin: -1px 0 0 -15px;
  background: #999;
  transition: .2s;
}
header #h_sp #panel-btn-icon.close {
  opacity: 1;
}
#panel-btn-icon:before, #panel-btn-icon:after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 2px;
  background: #999;
  transition: .3s;
}
header #h_sp #panel-btn-icon:before {
  margin-top: -8px;
}
header #h_sp #panel-btn-icon:after {
  margin-top: 6px;
}

header #h_sp #menu .close {
  background: transparent;
}
header #h_sp #menu .close:before, header #h_sp #menu .close:after {
  margin-top: 0;
  opacity: 1;
}
header #h_sp #menu .close:before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
header #h_sp #menu .close:after {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
header #header_in {
  width: 985px;
  margin: 0 auto;
}
header #header_in p#log_in {
  float: right;
  clear: right;
}

header #header_in p#log_in a.in01{
	 -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
		padding: 3px 20px;
		 display: inline-block;
			 color: #a51f2a;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  text-align: center;
  background: #fff;
  text-align: center;
		border: solid 1px #a51f2a;
		font-weight: bold;
		}
		header #header_in p#log_in a.in01:hover{
			background: #a51f2a;
			color:#fff;
			text-decoration:none;
			}
header #header_in p#log_in .btn_c {
  margin: 0 10px;
}
header #header_in p#log_in .txt03 {
  font-size: 78%;
}
header #header_in p#log_in form {
  display: inline-block;
}
header #header_in p#log_in .change {
  display: inline-block;
  padding: 5px;
  /*width: 100%;*/
  border: solid 1px #a51f2a;
  color: #a51f2a;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  text-align: center;
  background: #fff;
  text-align: center;
  /*font-weight: bold;*/
  font-size: 70%;
  font-weight: bold;
		 -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
header #header_in p#log_in .change:hover {
  background: none;
  background-color: #a51f2a;
  color: #fff;
  border: solid 1px #a51f2a;
  text-decoration: none;
}
header #header_in p#log_in a.out {
  display: inline-block;
  padding: 5px;
  /* width: 100%;*/
  border: solid 1px #000;
  color: #000;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  text-align: center;
  background: #fff;
  text-align: center;
  /*font-weight: bold;*/
  font-size: 70%;
  font-weight: bold;
		 -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
header #header_in p#log_in a.out:hover {
  background: none;
  background-color: #000;
  color: #fff;
  border: solid 1px #000;
  text-decoration: none;
}
header #header_in p#log_in input.out {
  display: inline-block;
  padding: 5px;
  /* width: 100%;*/
  border: solid 1px #000;
  color: #000;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  text-align: center;
  background: #fff;
  text-align: center;
  /*font-weight: bold;*/
  font-size: 70%;
  font-weight: bold;
}
header #header_in p#log_in input.out:hover {
  background: none;
  background-color: #000;
  color: #fff;
  border: solid 1px #000;
  text-decoration: none;
}
header #header_in p#logo {
  padding-top: 26px;
  margin-right: 54px;
  float: left;
}
header #header_in #glo {
  float: left;
  padding-top: 50px;
}
header #header_in #glo #glo_in li {
  float: left;
  margin-right: 22px;
}
header #header_in #glo #glo_in li a {
  /*font-weight: bold;*/
}
header #header_in #glo #glo_in li.last {
  margin-right: 0;
}
header #header_in #h_list {
  float: right;
  padding-top: 15px;
  margin-bottom: 7px;
}
header #header_in #h_list ul li.last {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
header #header_in #h_list ul li {
  float: left;
  margin-right: 10px;
  padding-right: 10px;
  border-right: solid 1px #ddd;
}
header #header_in #h_list ul li.list02 {
  border: none;
  margin-right: 5px;
  padding-right: 5px;
}
header #header_in #h_list ul li a {
  font-size: 80%;
  font-weight: bold;
}

/*/header*/
#sp_menu {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
		max-height: 420px !important;
    overflow-y: scroll;
}
#sp_menu #icon_li {
  background: #eee;
}
#sp_menu #icon_li div {
  width: 25%;
  box-sizing: border-box;
  float: left;
}
#sp_menu #icon_li div a {
  display: block;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  background: #eee;
  border-right: dotted 1px #ccc;
  box-sizing: border-box;
}
#sp_menu #icon_li div.last {
  border: none;
}
#sp_menu #icon_li div.last a {
  border: none;
}
#sp_menu ul#sp_in {
  /*background: #000;*/
  margin-bottom: 0 !important;
}
#sp_menu ul#sp_in li.sp_in01 {
  width: 100%;
}
#sp_menu ul#sp_in li.sp_in01 ul {
  display: none;
}
#sp_menu ul#sp_in li.sp_in01 ul li a {
  display: block;
  padding: 7px 12px 7px 25px;
  background: #eee;
  border-bottom: dotted 1px #ccc;
}

#sp_menu ul#sp_in li.sp_in01 a, #sp_menu ul#sp_in li.sp_in01 span {
  color: #555;
  background: #eee;
  border-bottom: dotted 1px #ccc;
  padding: 10px 12px;
  width: 100%;
  display: block;
  cursor: pointer;
}
#sp_menu ul#sp_in li.last {
  border: none;
}
#sp_menu ul#sp_in li.sp_in01.c_001 span {
  background: #efefef url(../image/y_04.png) no-repeat 98% center;
}

/*md_area*/
#md_area {
  background: url(../image/bg_md01.gif) repeat-x left bottom;
  /*padding:27px 0;*/
}
#md_area #md_area_in {
  max-width: 985px;
  width: 100%;
  margin: 0 auto;
  background: url(../image/bg_m01.gif) no-repeat left bottom;
  padding-bottom: 24px;
}
#md_area h1 {
  font-size: 240%;
  letter-spacing: 0.05em;
}

/*/md_area*/
/*c_glo*/
#c_glo {
  background: #898a89;
  padding: 7px 0;
}
#c_glo #c_glo_in {
  margin-bottom: 0;
  text-align: center;
}
#c_glo #c_glo_in li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding-right: 15px;
  margin-right: 15px;
  border-right: solid 1px #c2bfbe;
}
#c_glo #c_glo_in li a {
  color: #fff;
  display: block;
  font-size: 92%;
}
#c_glo #c_glo_in li.last {
  border: none;
  padding-right: 0px;
  margin-right: 0px;
}

/*/c_glo*/
/*contents*/
#contents {
  width: 90%;
  margin: 0 auto 100px;
  max-width: 985px;
  /*box*/
}
#contents #pan {
  max-width: 958px;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
}
#contents #pan ul {
  float: right;
}
#contents #pan ul li {
  float: left;
  margin-right: 15px;
  background: url(../image/bg_pan.gif) no-repeat right center;
  padding-right: 15px;
}
#contents #pan ul li a, #contents #pan ul li span {
  font-size: 82%;
}
#contents #pan ul li span {
  font-weight: bold;
}
#contents #pan ul li a {
  text-decoration: underline;
}
#contents #pan ul li a:hover {
  text-decoration: none;
}
#contents #pan ul li.last {
  margin-right: 0 !important;
  background: none;
  padding-right: 0;
}
#contents .in_list ul {
  display: block;
  text-align: center;
  margin-bottom: 40px;
  padding: 10px 0;
}
#contents .in_list ul.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  background: rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
#contents .in_list ul li.first {
  border-left: solid 1px #ddd;
}
#contents .in_list ul li {
  display: inline-block;
  border-right: solid 1px #ddd;
  padding: 0 20px;
}
#contents .in_list ul li a {
  font-size: 92%;
}
#contents section.box {
  position: relative;
  max-width: 957px;
  width: 100%;
  margin: 0 auto 50px;
  /*/sall_list03*/
  /*/sall_box05*/
  /*/sall_list04*/
  /*/sall_list03*/
  /*/sall_box02*/
  /*num01*/
}
#contents section.box iframe {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
}
#contents section.box .sall_list02 ul li.ll01,
#contents section.box .sall_list03 ul li.ll01,
#contents section.box .sall_list06 ul li.ll01 {
  list-style: none;
  padding-left: 0;
  text-indent: 0;
  text-indent: !important;
}
#contents section.box .sall_list05 ul li.ll01 {
  padding: 10px !important;
  list-style: none;
  padding-left: 0;
  text-indent: 0;
  text-indent: !important;
}
#contents section.box .sall_list04 ul li.ll01 {
  padding: 10px !important;
  list-style: none;
  padding-left: 0;
  text-indent: 0;
  text-indent: !important;
}
#contents section.box h4.edit {
  color: #000;
  font-size: 168%;
  font-weight: normal;
  margin-bottom: 15px !important;
  margin-top: 0;
  padding: 0;
  background: none !important;
}
#contents section.box h6.edit {
  font-size: 100%;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0;
  padding-left: 0;
  background: none;
}
#contents section.box #m_h {
  position: relative;
  padding: 20px 0;
}
#contents section.box #m_h_in {
  background: rgba(240, 240, 240, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  display: table;
  vertical-align: middle;
  text-align: center;
}
#contents section.box #m_h_in .m_h_in02 {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10%;
}
#contents section.box div.ta01 table {
  width: 100%;
  /* border-top: solid 1px #ddd; */
}
#contents section.box div.ta01 table th.md01 {
  background: #666;
  color: #fff;
}
#contents section.box div.ta01 table th {
  text-align: center;
  font-weight: bold;
  background: #f8f8f8;
  border-right: solid 1px #fff;
}
#contents section.box div.ta01 table th, #contents section.box div.ta01 table td {
  padding: 15px;
  border-bottom: solid 1px #ddd;
}
#contents section.box nav.btn_area {
  width: 100%;
}
#contents section.box nav.btn_area .btn_area_in {
  position: relative;
  padding: 60px 0;
}
#contents section.box nav.btn_area .btn_area_in #im_d {
  background: rgba(240, 240, 240, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  display: table;
  vertical-align: middle;
  text-align: center;
}
#contents section.box nav.btn_area .btn_area_in #im_d #im_d02 {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10%;
}
#contents section.box nav.btn_area ul {
  text-align: center;
}
#contents section.box nav.btn_area ul li {
  display: inline-block;
  width: 100%;
  max-width: 300px;
}
#contents section.box a.btn01 {
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  border: solid 1px #a51f2a;
  color: #a51f2a;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  text-align: center;
  background: #fff;
  text-align: center;
  font-weight: bold;
}
#contents section.box a.btn01:hover {
  background: none;
  background-color: #a51f2a;
  color: #fff;
  border: solid 1px #a51f2a;
  text-decoration: none;
}
#contents section.box a.btn02 {
  display: block;
  padding: 10px 0;
  width: 100%;
  border: solid 1px #000;
  color: #000;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  text-align: center;
  background: #fff;
  text-align: center;
  font-weight: bold;
}
#contents section.box a.btn02:hover {
  background: none;
  background-color: #000;
  color: #fff;
  border: solid 1px #000;
  text-decoration: none;
}
#contents section.box a.btn03 {
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  border: solid 1px #a51f2a;
  color: #fff;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  text-align: center;
  background: #a51f2a;
  text-align: center;
  font-weight: bold;
}
#contents section.box a.btn03:hover {
  background: none;
  background-color: #fff;
  color: #a51f2a;
  border: solid 1px #a51f2a;
  text-decoration: none;
}
#contents section.box .b_box {
  background: #f6f6f6;
  padding: 25px 25px;
  margin-bottom: 30px;
}
#contents section.box h4.head02 {
  background: none;
  color: #555;
  padding: 0;
  font-size: 168%;
  margin-bottom: 15px;
  font-weight: normal;
}
#contents section.box p img {
  /* width:100% !important; */
  height: inherit !important;
}
#contents section.box h5.head {
  background: url(../image/bg_m03.gif) no-repeat left 8px;
  padding-left: 20px;
  font-size: 135%;
  margin-bottom: 20px;
}
#contents section.box .sall_list05 {
  max-width: 957px;
  width: 100%;
}
#contents section.box .sall_list05 ul {
  width: 100%;
  overflow: hidden;
}
#contents section.box .sall_list05 ul li {
  max-width: 308px;
  width: 100%;
  float: left;
  margin-right: 12px;
  box-sizing: border-box;
  padding: 10px;
  border: solid 1px #ddd;
}
#contents section.box .sall_list05 ul li p.s_ph01 {
  margin-bottom: 10px;
}
#contents section.box .sall_list05 ul li p.s_ph01 img {
  width: 100%;
}
#contents section.box .sall_list05 ul li h4 {
  font-size: 168%;
  margin-bottom: 5px;
}
#contents section.box .sall_list05 ul li p.s_txt01 {
  line-height: 1.6;
  margin-bottom: 15px;
}
#contents section.box .sall_list05 ul li p.price02 {
  text-align: center;
  font-weight: bold;
}
#contents section.box .sall_list05 ul li p.price02 span {
  font-size: 20px;
  padding-right: 5px;
}
#contents section.box .sall_list05 ul li.last {
  margin-right: 0 !important;
}
#contents section.box .sall_list04 {
  max-width: 957px;
  width: 100%;
  margin: 0 auto;
}
#contents section.box .sall_list04 ul {
  width: 100%;
  overflow: hidden;
}
#contents section.box .sall_list04 ul li {
  max-width: 471px;
  width: 100%;
  float: left;
  margin-right: 15px;
  box-sizing: border-box;
  padding: 10px;
  border: solid 1px #ddd;
}
#contents section.box .sall_list04 ul li p.s_ph01 {
  margin-bottom: 10px;
}
#contents section.box .sall_list04 ul li h4 {
  font-size: 168%;
  margin-bottom: 5px;
}
#contents section.box .sall_list04 ul li p.s_txt01 {
  line-height: 1.6;
  margin-bottom: 15px;
}
#contents section.box .sall_list04 ul li p.price02 {
  font-weight: bold;
}
#contents section.box .sall_list04 ul li p.price02 span {
  font-size: 20px;
  padding-right: 5px;
}
#contents section.box .sall_list04 ul li a:hover {
  text-decoration: none;
}
#contents section.box .sall_list04 ul li.last {
  margin-right: 0 !important;
}
#contents section.box .sall_list03 {
  max-width: 957px;
  width: 100%;
  margin: 0 auto;
}
#contents section.box .sall_list03 ul {
  width: 100%;
  overflow: hidden;
}
#contents section.box .sall_list03 ul li {
  max-width: 471px;
  width: 100%;
  float: left;
  margin-right: 15px;
}
#contents section.box .sall_list03 ul li p.s_ph01 {
  margin-bottom: 10px;
}
#contents section.box .sall_list03 ul li h4 {
  font-size: 168%;
  margin-bottom: 5px;
}
#contents section.box .sall_list03 ul li p.s_txt01 {
  line-height: 1.6;
  margin-bottom: 15px;
}
#contents section.box .sall_list03 ul li p.price02 {
  font-weight: bold;
}
#contents section.box .sall_list03 ul li p.price02 span {
  font-size: 20px;
  padding-right: 5px;
}
#contents section.box .sall_list03 ul li a:hover {
  text-decoration: none;
}
#contents section.box .sall_list03 ul li.last {
  margin-right: 0 !important;
}
#contents section.box .sall_list02 {
  max-width: 957px;
  width: 100%;
}
#contents section.box .sall_list02 ul {
  width: 100%;
  overflow: hidden;
}
#contents section.box .sall_list02 ul li {
  max-width: 308px;
  width: 100%;
  float: left;
  margin-right: 12px;
}
#contents section.box .sall_list02 ul li p.s_ph01 {
  margin-bottom: 10px;
}
#contents section.box .sall_list02 ul li p.s_ph01 img {
  width: 100%;
}
#contents section.box .sall_list02 ul li h4 {
  font-size: 168%;
  margin-bottom: 5px;
}
#contents section.box .sall_list02 ul li p.s_txt01 {
  line-height: 1.6;
  margin-bottom: 15px;
}
#contents section.box .sall_list02 ul li p.price02 {
  text-align: center;
  font-weight: bold;
}
#contents section.box .sall_list02 ul li p.price02 span {
  font-size: 20px;
  padding-right: 5px;
}
#contents section.box .sall_list02 ul li.last {
  margin-right: 0 !important;
}
#contents section.box ol.num01 li {
  list-style: inside decimal;
  text-indent: -1.0em;
  padding-left: 1.0em;
  line-height: 150%;
  margin-bottom: 7px;
}
#contents section.box ol.num01 li.last {
  margin-bottom: 0;
}
#contents section.box ul.num01 li {
  list-style: inside disc;
  text-indent: -1.0em;
  padding-left: 1.0em;
  line-height: 150%;
  margin-bottom: 7px;
}
#contents section.box ul.num01 li.last {
  margin-bottom: 0;
}
#contents section.box ul.num02 li {
  list-style: inside square;
  text-indent: -1.0em;
  padding-left: 1.0em;
  line-height: 150%;
  margin-bottom: 7px;
}
#contents section.box ul.num02 li.last {
  margin-bottom: 0;
}
#contents section.box ul.num03 li {
  list-style: url(../image/sub_yajirushi02.gif);
  text-indent: -1.0em;
  padding-left: 1.0em;
  line-height: 150%;
  margin-bottom: 7px;
}
#contents section.box ul.num03 li a {
  text-decoration: underline;
}
#contents section.box ul.num03 li a:hover {
  text-decoration: none;
}
#contents section.box h4.txt01 {
  text-align: center;
  font-size: 168%;
  margin-bottom: 30px;
}
#contents section.box .txt02 {
  text-align: center;
  line-height: 1.8;
}
#contents section.box .md003 {
  text-align: center;
}
#contents section.box .md003 h3.head {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 215%;
  background: url(../image/bg_m02.gif) center bottom no-repeat;
  padding-bottom: 11px;
  margin-bottom: 24px;
}
#contents .md002 {
  text-align: center;
}
#contents .md002 h2.head {
  margin: 0 auto 43px;
  padding-bottom: 10px;
  padding-top: 69px;
  border-bottom: solid 1px #000;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 300%;
  font-weight: 100;
}

/*/contents*/
/*footer*/
footer {
  border-top: solid 1px #ddd;
  padding-top: 45px;
}
footer #copy {
  border-top: solid 1px #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 80%;
  text-align: center;
}
footer #footer_in {
  width: 90%;
  max-width: 985px;
  margin: 0 auto;
}
footer #footer_in #f_list02 {
  float: left;
  margin-bottom: 30px;
  /*width:100%;*/
}
footer #footer_in #f_list02 ul li {
  float: left;
  margin-right: 10px;
  padding-right: 10px;
  border-right: solid 1px #ddd;
}
footer #footer_in #f_list02 ul li.list02 {
  border: none;
  margin-right: 5px;
  padding-right: 5px;
}
footer #footer_in #f_list02 ul li a {
  display: block;
  padding-top: 7px;
  font-size: 80%;
  font-weight: bold;
}
footer #footer_in #f_list02 ul li.last {
  margin-right: 0;
  padding-right: 0;
  border: none;
}
footer #footer_in p#log001 {
  float: right;
}
footer #footer_in p#log001 a {
	-moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
		padding: 3px 20px;
		 display: inline-block;
			 color: #a51f2a;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  text-align: center;
  background: #fff;
		border: solid 1px #a51f2a;
		font-weight: bold;
		}
		footer #footer_in p#log001 a:hover{
			background: #a51f2a;
			color:#fff;
			text-decoration:none;
			}
	
footer #footer_in #f_logo {
  float: left;
  margin-right: 39px;
}
footer #footer_in #sns_b {
  float: right;
  margin-bottom: 17px;
  padding-top: 30px;
}
footer #footer_in #sns_b ul li {
  margin-right: 10px;
  float: left;
}
footer #footer_in #sns_b ul li.last {
  margin-right: 0;
}
footer #footer_in #f_list ul li {
  float: left;
  margin-right: 22px;
  padding-top: 25px;
}
footer #footer_in #f_list ul li a {
  /*font-weight: bold;*/
}
footer #footer_in #f_list ul li.last {
  margin-right: 0;
}

/*footer{
width:100%;
border-top:solid 1px #ddd;
padding-top:45px;
padding-bottom:10px;
#copy{
border-top:solid 1px #ddd;
padding-top:10px;
font-size:80%;
text-align:center;}
#f_logo{
text-align:center;
margin-bottom:30px;}
#f_list02{
text-align:center;
margin-bottom:30px;
width:100%;
p#log001{
@include inline-block;}
ul{
@include inline-block;
margin-left:20px;

li{
float:left;
margin-right:10px;
padding-right:10px;
border-right:solid 1px #ddd;
a{
display:block;
padding-top:7px;
font-size:80%;
font-weight: bold;}
}
li.last{
margin-right:0;
padding-right:0;
border:none;}
}
}
#f_list{
ul{
text-align:center;
margin-bottom:0;}
li{
@include inline-block;
margin-right:15px;
a{
font-weight: bold;
}
}
li.last{
margin-right:0;}
}
#sns_b{
margin-bottom:20px;
ul{
text-align:center;
margin-bottom:0;
li{
@include inline-block;
margin-right:10px;
}
li.last{
margin-right:0;}
}
}
}*/
/*/footer*/
@media screen and (min-width: 1000px) {

  #sp_menu {
    display: none !important;
  }
}
@media screen and (max-width: 1000px) {
		#contents .md002.n_md001 {
		display:none;
}
	#contents section.box {
		margin:0 auto 40px;}
  #contents .in_list {
    display: none !important;
  }

  footer {
    padding-top: 30px;
  }
  footer #footer_in .dis001 {
    display: none;
  }
  footer #footer_in p#log001 {
    float: none;
    text-align: center;
    margin-bottom: 20px;
  }
  footer #footer_in #sns_b {
    text-align: center;
    float: none;
    padding-top: 0;
  }
  footer #footer_in #sns_b ul {
    display: inline-block;
    margin-bottom: 0;
  }
  footer #f_logo {
    display: none;
  }
  footer #f_list {
    display: none;
  }
  footer #log001 {
    float: none;
  }

  div.ta01 table {
    border-left: solid 1px #ddd;
  }
  div.ta01 table th.w30 {
    width: 100% !important;
  }
  div.ta01 table th.md01 {
    display: none;
  }
  div.ta01 table th, div.ta01 table td {
    display: block;
    border-right: solid 1px #ddd !important;
  }

  header {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 999;
    padding-bottom: 0;
  }

  #sp_menu {
    /*display:block;*/
  }

  #md_area {
    padding-top: 73px;
  }
  #md_area #md_area_in {
    padding-bottom: 20px;
  }

  #md_area_in h1 {
    padding-left: 15px;
    font-size: 135%;
    padding-right: 15px;
  }

  #header_in {
    display: none !important;
  }

  #h_sp {
    display: block !important;
  }

  #c_glo {
    display: none !important;
  }

  section.box nav.btn_area ul li {
    margin-bottom: 15px !important;
  }
  section.box .sall_list02 ul li {
    max-width: 100% !important;
    margin-right: 0 !important;
  }
  section.box .sall_list05 ul li {
    max-width: 100% !important;
    margin-right: 0 !important;
    margin-bottom: 20px !important;
  }
  section.box .sall_list04 ul li {
    max-width: 100% !important;
    margin-right: 0 !important;
    margin-bottom: 20px !important;
  }
  section.box #sall_list03 ul li {
    max-width: 100% !important;
    margin-right: 0 !important;
  }
  section.box .f_l {
    float: none !important;
  }
  section.box .f_r {
    float: none !important;
  }
  section.box .mr {
    margin-right: 0px !important;
  }
  section.box .ml {
    margin-left: 0px !important;
  }

  #f_link {
    display: none !important;
  }

  br.dis01 {
    display: block;
  }

  #date-display li {
    max-width: 100%;
}
}
/*form*/
div.ta01 .wS {
  padding: 3px;
  width: 100%;
  margin-bottom: 6px;
  border: solid 1px #ddd;
  background: #f8f8f8;
}

div.ta01 .wS04 {
  padding: 3px;
  width: 80%;
  margin-bottom: 6px;
  border: solid 1px #ddd;
  background: #f8f8f8;
}

div.ta01 .wS02 {
  padding: 3px;
  width: 30%;
  border: solid 1px #ddd;
  background: #f8f8f8;
}

div.ta01 .wS03 {
  padding: 1px;
  width: 50%;
  background: #f8f8f8;
}

div.ta01 .imeOff {
  ime-mode: disabled;
}

div.ta01 .imeOn {
  ime-mode: active;
}

div.ta01 .wSS {
  padding: 3px;
  width: 20%;
  border: solid 1px #ddd;
  background: #f8f8f8;
}

div.ta01 .wSSS {
  padding: 3px;
  width: 100px;
  border: solid 1px #ddd;
  background: #f8f8f8;
}

div.ta01 .f10_2 {
  font-size: 86%;
  color: #999;
}

div.ta01 input:focus {
  background: #fff !important;
}

div.ta01 textarea:focus {
  background: #fff !important;
}

.ta01 table tr th .f10 {
  color: #ff0000;
  font-size: 86%;
}

input.kakunin {
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  border: solid 1px #a51f2a;
  color: #a51f2a;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  text-align: center;
  background: #fff;
  text-align: center;
  font-weight: bold;
}

input.kakunin:hover {
  background: none;
  background-color: #a51f2a;
  color: #fff;
  border: solid 1px #a51f2a;
  text-decoration: none;
}

input.reset {
  display: inline-block;
  padding: 10px 0;
  width: 100%;
		 color: #a51f2a;
  border: solid 1px #a51f2a;
  /*border: solid 1px #555;
  color: #555;*/
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  text-align: center;
  background: #fff;
  text-align: center;
  font-weight: bold;
		 -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

input.reset:hover {
  background: none;
  background-color: #a51f2a;
  color: #fff;
  border: solid 1px #a51f2a;
  text-decoration: none;
}

/*contents02*/
#contents02 {
  background: url(../image/bg_box001.gif) repeat left top;
  padding: 70px 44px;
}
#contents02 section.box {
  width: 985px;
  margin: 0 auto;
  position: relative;
}
#contents02 section.box hr.kai001 {
  font-size: 0;
  line-height: 0;
  height: 0;
  border: none;
  position: absolute;
  top: -50px;
  left: 0;
}
#contents02 section.box #voice {
  position: relative;
  border: solid 1px #ebebeb;
  background: #ddd;
  padding: 36px 32px;
}
#contents02 section.box #voice #voice_in {
  /* background: rgba(255, 255, 255, 0.5); */
  background: rgba(240, 240, 240, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  display: table;
  vertical-align: middle;
  text-align: center;
}
#contents02 section.box #voice #voice_in #voice_in02 {
  display: table-cell;
  vertical-align: middle;
  padding: 10%;
		box-sizing:border-box;
		width:100%;
}
#contents02 section.box #voice nav.btn_area {
  width: 100%;
}
#contents02 section.box #voice nav.btn_area ul {
  text-align: center;
}
#contents02 section.box #voice nav.btn_area ul li {
  display: inline-block;
  width: 100%;
  max-width: 300px;
}
#contents02 section.box #voice nav.btn_area ul li.lm5{
	margin-left:0 !important;}
#contents02 section.box #voice a.btn01 {
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  border: solid 1px #a51f2a;
  color: #a51f2a;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  text-align: center;
  background: #fff;
  text-align: center;
  font-weight: bold;
}
#contents02 section.box #voice a.btn01:hover {
  background: none;
  background-color: #a51f2a;
  color: #fff;
  border: solid 1px #a51f2a;
  text-decoration: none;
}
#contents02 section.box #voice a.btn02 {
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  border: solid 1px #a51f2a;
  color: #fff;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  text-align: center;
  background: #a51f2a;
  text-align: center;
  font-weight: bold;
}
#contents02 section.box #voice a.btn02:hover {
  background: none;
  background-color: #fff;
  color: #a51f2a;
  border: solid 1px #a51f2a;
  text-decoration: none;
}
#contents02 section.box #voice p.t_txt {
  margin-bottom: 20px;
}
#contents02 section.box #voice p.t_txt textarea {
  width: 100%;
  border: solid 1px #ddd;
}
#contents02 section.box #voice p.title input.wS {
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 6px;
  padding: 5px;
  width: 100%;
}
#contents02 section.box #voice p.star {
  margin-bottom: 10px;
}
#contents02 section.box #voice p.star select {
  background: #fff;
  border: solid 1px #ddd;
  /*padding-right:20px;
  padding-right:20px\10;*/
  color: #f5a915;
}
#contents02 section.box #voice p.star select option.s_area {
  color: #f5a915;
}
#contents02 section.box #voice p.star select option.s_area span {
  color: #f5a915 !important;
}
#contents02 section.box #voice h5.head {
  background: url(../image/bg_m03.gif) no-repeat left 8px;
  padding-left: 20px;
  font-size: 135%;
  margin-bottom: 20px;
  position: relative;
  z-index: 3;
}
#contents02 section.box #u_btn {
  background: #e7e7e6;
  max-width: 985px;
  width: 100%;
  text-align: center;
  padding: 10px 15px;
  font-size: 92%;
  -moz-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
  cursor: pointer;
  margin-bottom: 30px;
}
#contents02 section.box #u_btn:hover {
  background: #aaa;
}
#contents02 section.box #u_area {
  background: #fff;
  padding: 30px;
  margin-bottom: 15px;
}
#contents02 section.box #u_area #u_area_in li.in001 {
  border-bottom: dotted 1px #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
#contents02 section.box #u_area #u_area_in li.in001 span.name_t {
  font-size: 76%;
  padding-right: 15px;
  color: #999;
}
#contents02 section.box #u_area #u_area_in li.in001 span.s_btn02 {
  font-size: 92%;
  padding-left: 10px;
  color: #999;
}
#contents02 section.box #u_area #u_area_in li.in001 span.s_btn02 a {
  border: solid 2px #555;
  background: #555;
  color: #fff;
  -moz-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
  padding: 7px 15px;
  font-weight: bold;
}
#contents02 section.box #u_area #u_area_in li.in001 span.s_btn02 a:hover {
  background: #fff;
  color: #555;
  text-decoration: none;
}
#contents02 section.box #u_area #u_area_in li.in001 span.s_btn {
  font-size: 92%;
  padding-left: 15px;
  color: #999;
}
#contents02 section.box #u_area #u_area_in li.in001 span.s_btn input {
  border: solid 2px #a51f2a;
  background: #a51f2a;
  color: #fff;
  -moz-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
  padding: 7px 15px;
  font-weight: bold;
}
#contents02 section.box #u_area #u_area_in li.in001 span.s_btn input:hover {
  background: #fff;
  color: #a51f2a;
}
#contents02 section.box #u_area #u_area_in li.in001 span.name {
  font-weight: bold;
}
#contents02 section.box #u_area #u_area_in li.in001 h4 {
  font-size: 123.1%;
  margin-bottom: 10px;
  font-weight: bold;
}
#contents02 section.box #u_area #u_area_in li.in001 .star {
  margin-bottom: 15px;
}
#contents02 section.box #u_area #u_area_in li.in001 .star li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
#contents02 section.box .md003 {
  text-align: center;
}
#contents02 section.box .md003 h3.head {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 215%;
  background: url(../image/bg_m02.gif) center bottom no-repeat;
  padding-bottom: 11px;
  margin-bottom: 24px;
}


.address{
  padding: 3px;
  margin-bottom: 6px;
  border: solid 1px #ddd;
  background: #f8f8f8;
}

@media screen and (max-width: 1000px) {
	footer #footer_in p#log001 a{
		padding:10px 20px;}
	#contents section.box.detail p{
		text-align:left;}
#contents section.box.detail p br{
	display:none;}
	section.box h3.head03{
		text-align:left !important;
		}
		section.box p.pro_txt001{
			text-align:left !important;
			}
			section.box p.pro_txt001 br{
				display:none;}
  #contents02 {
    background: url(../image/bg_box001.gif) repeat left top;
    padding: 70px 3%;
  }
  #contents02 section.box {
    width: 90%;
  }
}
/*/contents02*/
/*contents03*/
#contents03 {
  padding-top: 60px;
}
#contents03 .md003 {
  text-align: center;
}
#contents03 .md003 #pro_list01 {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}
#contents03 .md003 #pro_list01 li.last {
  margin-right: 0;
}
#contents03 .md003 #pro_list01 li {
  width: 18%;
  /*@include inline-block;*/
  /*float:left;*/
  display: inline-block;
  vertical-align: top;
  margin-right: 2.5%;
}
#contents03 .md003 #pro_list01 li a {
  display: block;
  -moz-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
  padding-bottom: 15px;
}
#contents03 .md003 #pro_list01 li a p.s_title {
  font-size: 86%;
}
#contents03 .md003 #pro_list01 li a h5 {
  font-size: 116%;
}
#contents03 .md003 #pro_list01 li a .pl_ph {
  margin-bottom: 10px;
}
#contents03 .md003 #pro_list01 li a .pl_ph img {
  width: 100%;
}
#contents03 .md003 #pro_list01 li a:hover {
  background: #f8f8f8;
  text-decoration: none;
}
#contents03 .md003 h3.head {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 215%;
  background: url(../image/bg_m02.gif) center bottom no-repeat;
  padding-bottom: 11px;
  margin-bottom: 24px;
}


/*/contents03*/
@media screen and (max-width: 1000px) {
	.recruit_flow .tab li{
		display:block !important;
		margin:0 auto 10px !important;
		width:100% !important;
		padding:10px 0 !important;
		}
		.recruit_flow .tab li.last{
			margin-bottom:0px;}
  #contents section.box p img {
    width: 100% !important;
  }

  #contents03 #pro_list01 {
    width: 90% !important;
    margin: 0 auto;
  }
  #contents03 #pro_list01 li.last {
    margin-right: 0;
  }
  #contents03 #pro_list01 li {
    width: 100% !important;
    /*@include inline-block;*/
    float: none !important;
    margin-right: 0 !important;
    margin-bottom: 15px;
  }
  #contents03 #pro_list01 li a {
    display: block;
  }
  #contents03 #pro_list01 li a .pl_ph img {
    width: 100%;
  }

  #contents .in_list ul {
    display: table;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    border-top: dotted 1px #ddd;
    border-left: dotted 1px #ddd;
  }
  #contents .in_list ul.fixed {
    position: inherit;
    width: inherit;
    top: inherit;
    left: inherit;
    z-index: inherit;
    background: none;
  }
  #contents .in_list ul li.first {
    border-left: none;
  }
  #contents .in_list ul li {
    display: table-cell;
    width: 50%;
    float: left;
    border-bottom: dotted 1px #ddd;
    border-right: dotted 1px #ddd;
    padding: 0 20px;
  }
  #contents .in_list ul li a {
    font-size: 92%;
    padding: 10px 0;
    display: block;
  }
}
/*search*/
#search .content_wrap.disnon {
  display: none;
}
#search .content_wrap .s_box.disnon {
  display: none;
}
#search .content_wrap .s_box .more {
  padding-top: 22px;
  clear: both;
}
#search .content_wrap .s_box .more input.more_b {
  width: 100%;
  background: #e7e7e6;
  border: none;
  text-align: center;
  padding: 3px;
  font-size: 78%;
}
#search .content_wrap .s_box ul li.none {
  margin-right: 0;
}
#search .content_wrap .s_box ul li {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 315px;
  width: 100%;
}
#search .content_wrap .s_box ul li a {
  display: block;
  -moz-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
  padding-bottom: 15px;
  width: 100%;
  text-align: center;
}
#search .content_wrap .s_box ul li a p.s_title {
  font-size: 86%;
}
#search .content_wrap .s_box ul li a h5 {
  font-size: 116%;
}
#search .content_wrap .s_box ul li a .pl_ph {
  margin-bottom: 10px;
}
#search .content_wrap .s_box ul li a .pl_ph img {
  width: 100%;
}
#search .content_wrap .s_box ul li a:hover {
  background: #f8f8f8;
  text-decoration: none;
}
#search .content_wrap .nn_list {
  overflow: hidden;
  margin: 0 auto 20px;
  max-width: 560px;
  width: 100%;
}
#search .content_wrap .nn_list li {
  border-bottom: dotted 1px #ccc;
  float: left;
  width: 128px;
  margin-right: 16px;
  padding-bottom: 3px;
  margin-bottom: 10px;
  font-size: 86%;
  cursor: pointer;
  color: #999;
}
#search .content_wrap .nn_list li.select {
  color: #990000;
  font-weight: bold;
  border-bottom: solid 1px #990000;
}
#search .content_wrap .nn_list li.none {
  margin-right: 0;
}
#search #tab {
  border-bottom: solid 1px #000;
  text-align: center;
  margin-bottom: 50px;
}
#search #tab li.select {
  background: url(../image/circle001.gif) no-repeat center bottom;
  color: #555;
}
#search #tab li {
  cursor: pointer;
  display: inline-block;
  margin: 0px 10px;
  color: #aaabab;
  padding-bottom: 15px;
}

@media screen and (max-width: 1000px) {
  #contents .md002 h2.head {
    font-size: 168% !important;
    padding-top: 29px;
  }

  #search #tab li.all {
    /*@include inline-block;*/
    /*width:60%;
    padding:7px;
    border:solid 1px #000;
    margin-bottom:20px;
    background:#fff;
    color:#000 !important;
    @include transition(0.2s ease-in);*/
  }

  #search #tab li.select {
    background: #eaeaea !important;
    /*color: #fff !important;*/
  }

  #search #tab li.all:hover {
    /*background:#000;
    color:#fff !important;*/
  }

  #search #tab li.select {
    /*background:none !important;*/
  }

  #search #tab li {
    margin-left: 5px !important;
    margin-right: 5px !important;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    padding: 5px 10px 5px 10px !important;
    margin-bottom: 10px;
  }

  #search .content_wrap .nn_list li {
    width: 49%;
    margin-right: 2%;
  }
  #search .content_wrap .nn_list li.even {
    margin-right: 0 !important;
  }
  #search .content_wrap .s_box ul li {
    float: none !important;
    margin-bottom: 20px;
    margin-right: 0px !important;
    max-width: 100% !important;
    width: 100%;
  }
}
/*faq*/
#q_cat {
  width: 100%;
  margin-bottom: 40px;
}
#q_cat ul li.even {
  margin-right: 0;
}
#q_cat ul li {
  float: left;
  max-width: 471px;
  width: 100%;
  margin-right: 15px;
  margin-bottom: 10px;
}
#q_cat ul li a {
  display: block;
  border: solid 1px #ddd;
  -moz-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
  text-align: center;
  padding: 15px 10px;
  font-weight: bold;
}
#q_cat ul li a:hover {
  background: #ddd;
  text-decoration: none;
}

#contents section.box .faq_list .faq_in .a_box {
  padding-bottom: 15px;
}
#contents section.box .faq_list .faq_in .a_box .a_box_in {
  background: url(../image/bg_box001.gif) repeat;
  padding: 25px;
}
#contents section.box .faq_list .faq_in .a_box .a_box_in .sall_list03 ul li {
  width: 446px;
}
#contents section.box .faq_list .faq_in .a_box .a_box_in .sall_list02 ul li {
  max-width: 294px;
}
#contents section.box .faq_list .faq_in .a_box .a_box_in .sall_list04 ul li {
  width: 446px;
  background: #fff;
}
#contents section.box .faq_list .faq_in .a_box .a_box_in .sall_list05 ul li {
  width: 294px;
  background: #fff;
}
#contents section.box .faq_list .faq_in li.f_in01.first {
  border-top: solid 1px #ddd;
}
#contents section.box .faq_list .faq_in li.f_in01 {
  border-bottom: solid 1px #ddd;
}
#contents section.box .faq_list .faq_in li.f_in01 .f_md {
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}
#contents section.box .faq_list .faq_in li.f_in01 .f_md.on span.f_icon {
  background: url(../image/plus02.gif) no-repeat left top;
}
#contents section.box .faq_list .faq_in li.f_in01 .f_md span.f_icon {
  background: url(../image/plus01.gif) no-repeat left top;
  width: 14px;
  height: 14px;
  position: absolute;
  right: 1%;
  top: 30px;
}
#contents section.box .faq_list .faq_in li.f_in01 .f_md h4 {
  margin-bottom: 5px;
  padding-right: 10%;
}
#contents section.box .faq_list .faq_in li.f_in01 .f_md time {
  color: #999;
  font-size: 86%;
}

section.box02 {
  width: 985px;
}
section.box02 .s_box ul li.none {
  margin-right: 0;
}
section.box02 .s_box ul li {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 315px;
  width: 100%;
}
section.box02 .s_box ul li a {
  display: block;
  -moz-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
  padding-bottom: 15px;
  width: 100%;
  text-align: center;
}
section.box02 .s_box ul li a p.s_title {
  font-size: 86%;
}
section.box02 .s_box ul li a h5 {
  font-size: 116%;
}
section.box02 .s_box ul li a .pl_ph {
  margin-bottom: 10px;
}
section.box02 .s_box ul li a .pl_ph img {
  width: 100%;
}
section.box02 .s_box ul li a:hover {
  background: #f8f8f8;
  text-decoration: none;
}

.form_required{
  color: red;
}

@media screen and (max-width: 1000px) {
  section.box02 {
    width: 100% !important;
  }

  .s_box ul li {
    float: none !important;
    margin-bottom: 20px;
    margin-right: 0px !important;
    max-width: 100% !important;
    width: 100%;
  }
}
/*change*/
#c_list01 ul li {
  max-width: 471px;
  width: 100%;
}
#c_list01 ul li a {
  border: solid 1px #ddd;
  display: block;
  padding: 25px 10px;
  text-align: center;
  -moz-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
  font-weight: bold;
}
#c_list01 ul li a:hover {
  background: #f8f8f8;
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  #c_list01 ul li {
    max-width: 100%;
    float: none !important;
    margin-bottom: 20px !important;
  }
}
/*#cboxContent{
width:90% !important;}
#cboxLoadedContent{
width:100% !important;
}
#cboxLoadedContent{
width:100% !important;
}
#colorbox{
	width:80% !important;}*/
.fancybox-iframe {
  width: 100% !important;
  height: 90%;
}

.pop_up {
  padding: 30px 20px;
}
.pop_up iframe {
  width: 100% !important;
}
.pop_up h5.head {
  background: url(../image/bg_m03.gif) no-repeat left 8px;
  padding-left: 20px;
  font-size: 135%;
  margin-bottom: 10px;
}
.pop_up p.t_txt {
  margin-bottom: 20px;
}
.pop_up p.t_txt textarea {
  width: 100%;
  border: solid 1px #ddd;
}
.pop_up p.title input.wS {
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 6px;
  padding: 5px;
  width: 100%;
}
.pop_up p.star {
  margin-bottom: 10px;
}
.pop_up p.star select {
  background: #fff;
  border: solid 1px #ddd;
  padding-right: 20px;
  color: #f5a915;
}
.pop_up p.star select option.s_area {
  color: #f5a915;
}
.pop_up p.star select option.s_area span {
  color: #f5a915 !important;
}
.pop_up a.btn01 {
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  border: solid 1px #a51f2a;
  color: #a51f2a;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  text-align: center;
  background: #fff;
  text-align: center;
  font-weight: bold;
}
.pop_up a.btn01:hover {
  background: none;
  background-color: #a51f2a;
  color: #fff;
  border: solid 1px #a51f2a;
  text-decoration: none;
}
.pop_up a.btn02 {
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  border: solid 1px #a51f2a;
  color: #fff;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  text-align: center;
  background: #a51f2a;
  text-align: center;
  font-weight: bold;
}
.pop_up a.btn02:hover {
  background: none;
  background-color: #fff;
  color: #a51f2a;
  border: solid 1px #a51f2a;
  text-decoration: none;
}

/*html, body {
  height: 100%;
  width: 100%;
}*/

#sns_c {
  position: fixed;
  right: 0;
  top: 120px;
  z-index: 99999;
}
#sns_c ul li {
  margin-bottom: 3px;
}
#sns_c ul li a img {
  vertical-align: bottom;
}

@media screen and (max-width: 1000px) {
	#slider02 .flex-viewport .slides li{
		overflow:hidden;
		text-align:center;
		
		
		}
		#slider02 ul li img{
			height:200px;
			max-width:100%;}
	body {
  height: 100%;
  width: 100%;
		overflow-x:hidden !important;
}
  #sns_c {
    display: none;
  }

  #pan {
    display: none;
  }
}
#news_btn01 a, a.btn01, a.btn03, a.btn02, input[type="submit"] {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.f_box .a_box{
	display:none;}