body {
  overflow-x: hidden;
}

header {
  margin-bottom: 0;
}

.container {
  /*width: 100%; height: 100%;*/
  overflow: hidden;
  margin-bottom: 100px;
}

.md003 {
  text-align: center;
}
.md003 h3.head {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 215%;
  background: url(../image/bg_m02.gif) center bottom no-repeat;
  padding-bottom: 20px;
  margin-bottom: 46px;
}

.slide_all {
  width: 985px;
  margin: 0 auto 0px;
  /*height: 427px;*/
  /*position: relative;*/
}

.slide_all02 {
  display: none;
}

.slide_all .slide_wrap {
  width: 2955px;
  position: absolute;
  left: 50%;
  margin-left: -1477.5px;
}

.slide_all .slide_body {
  width: 100%;
  left: 985px;
}

.slide_all .slide {
  width: 985px;
  /*left:1970px;*/
}

.slide_all .slide img {
  width: 100%;
  vertical-align: bottom;
}

.slide_all .bx-controls-direction,
.bx-pager {
  text-align: center;
  width: 985px;
  margin: 0 auto;
}

.slide_all .bx-controls-direction a,
.bx-pager-item {
  display: inline-block;
  width: 20%;
  height: 5px;
  background: #000;
  /*border-right:solid 2px #f0f0f0;*/
  border-right: solid 4px #fff;
  box-sizing: border-box;
}

.slide_all .bx-pager-item a {
  display: block;
  height: 5px;
  width: 100%;
  text-indent: -9999px;
  background: #ccc;
  /*border-radius: 10px; margin:10px 2px 0 2px;*/
}

.slide_all .bx-pager-item a.active {
  opacity: 0.3;
}

.slide_all .bx-controls-direction a {
  text-decoration: none;
  color: #000;
  /* padding:0 5px;*/
}

.slide_all .bx-controls {
  z-index: 100;
  width: 100%;
  /*background: #f1f1f1;*/
  height: 5px;
}

.slide_all .bx-controls-direction .bx-prev {
  background: url(/common/image/y_02.png) no-repeat left top;
  position: absolute;
  left: 50%;
  margin-left: -500px;
  margin-top: -23px;
  top: 50%;
  height: 46px;
  width: 29px;
  z-index: 999;
  display: block;
  text-indent: -9999px;
  border: none;
}

.slide_all .bx-controls-direction .bx-next {
  background: url(/common/image/y_03.png) no-repeat left top;
  position: absolute;
  right: 50%;
  margin-right: -500px;
  margin-top: -23px;
  top: 50%;
  height: 46px;
  width: 29px;
  z-index: 999;
  display: block;
  text-indent: -9999px;
  border: none;
}

.slide_all .bx-viewport {
  margin-bottom: 1px;
}

#news_a {
  margin-bottom: 40px;
}
#news_a .n_box001 ul {
  border-top: dotted 1px #ddd;
}
#news_a .n_box001 ul li {
  border-bottom: dotted 1px #ddd;
}
#news_a .n_box001 ul li a {
  padding: 15px 2%;
  display: block;
  text-align: center;
  -moz-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}
#news_a .n_box001 ul li a:hover {
  text-decoration: none;
  background: #f8f8f8;
}
#news_a .n_box001 ul li a time {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
#news_a #n_tab {
  text-align: center;
  margin-bottom: 33px;
}
#news_a #n_tab li {
  padding: 5px 10px;
  display: inline-block;
  cursor: pointer;
  background: #fff;
  -moz-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
  border: solid 1px #eaeaea;
  font-size: 92%;
}
#news_a #n_tab li.select {
  background: #eaeaea;
}
#news_a .disnon {
  display: none;
}

#co_area {
  background: #e3dddb;
  width: 100%;
  padding: 60px 0 40px;
  min-height: 502px;
  overflow: hidden;
  position: relative;
}
#co_area .md003 {
  position: relative;
  z-index: 3;
}
#co_area .c_left {
  position: absolute;
  left: 8%;
  bottom: 0;
  /*margin-left:-37%;*/
  z-index: 1;
}
#co_area .co_area_in {
  position: relative;
  left: 50%;
  width: 35%;
  z-index: 2;
}
#co_area .co_area_in h4 {
  font-size: 187%;
  margin-bottom: 15px;
}
#co_area .co_area_in .co_txt001 {
  width: 100%;
  line-height: 1.7;
  margin-bottom: 20px;
}

#cate_list {
  width: 100%;
  margin-bottom: 70px;
}
#cate_list ul {
  width: 100%;
  margin-bottom: 0;
  border-bottom: solid 1px #ddd;
}
#cate_list ul li {
  float: left;
  width: 50%;
  border-right: solid 1px #ddd;
}
#cate_list ul li.last {
  border-right: none;
}
#cate_list ul li a {
  display: block;
  padding: 40px 30px;
  -moz-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}
#cate_list ul li a:hover {
  background: #f8f8f8;
  text-decoration: none;
}
#cate_list ul li a span.name_ca02 {
  display: block;
  text-align: center;
}
#cate_list ul li a span.name_ca {
  display: block;
  text-align: center;
  font-size: 186%;
  background: url(../image/bg_m02.gif) center bottom no-repeat;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

#search .content_wrap.disnon .content_exterior {
  display: flex;
  flex-direction: column;
}

#other_area {
  width: 90%;
  max-width: 985px;
  margin: 0 auto 77px;
}

#other_area_ex {
  max-width: 985px;
  margin: 0 auto 77px;
}
#other_area #o_list01 {
  width: 100%;
}

#other_area #o_list01 #o_list01_in, #other_area_ex #o_list01 #o_list01_in {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: auto;
}

#other_area #o_list01 #o_list01_in li {
  /* float: left !important;
  display:block; */
  /* display: flex;
  flex-flow:flex-start; */
  /* height: auto !important;
  width: 33.33333% !important; */
}

/* #other_area #o_list01 .o_list01_in1{
  margin-top: 1rem;
} */

#re_area {
  background: #f2f0ef;
  padding-top: 55px;
  /*/coming soon*/
  /* Zoom In #1 */
}
#re_area .bx-wrapper {
  position: relative;
}
#re_area .bx-wrapper .bx-controls-direction a {
  height: 32px;
  margin-top: -47px;
  outline: 0 none;
  position: absolute;
  text-indent: -9999px;
  top: 50%;
  width: 32px;
  z-index: 9990;
}
#re_area .bx-wrapper .bx-next {
  background: url(../image/sli_y02.png) no-repeat scroll left top;
  height: 94px !important;
  right: 0;
  width: 26px !important;
}
#re_area .bx-wrapper .bx-prev {
  background: url(../image/sli_y01.png) no-repeat scroll left top;
  height: 94px !important;
  left: 0;
  width: 26px !important;
}
#re_area .column a span {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: +1;
  display: block;
  text-align: left;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  margin: 0;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 116%;
}
#re_area .column a span i {
  font-style: normal;
  color: #fff;
  font-weight: bold;
  padding-right: 15px;
}
#re_area figure {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}
#re_area figure img {
  width: 100%;
}
#re_area figure:hover + span {
  /*bottom: -36px;
  opacity: 1;*/
}
#re_area .hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
#re_area .hover01 figure:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
#re_area .hover01 figure.n01 img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: none;
  transition: none;
}
#re_area .hover01 figure.n01:hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-filter: blur(0px);
  filter: blur(0px);
}
#re_area .md004 {
  margin-bottom: 40px;
  text-align: center;
}
#re_area .md004 p.re_txt01 {
  font-size: 142%;
}
#re_area .md004 h3.head {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 215%;
  margin-bottom: 5px;
}

.address {
  padding: 3px;
  width: 100%;
  margin-bottom: 6px;
  border: solid 1px #ddd;
  background: #f8f8f8;
}

.form_required {
  color: red;
}

.counterfeit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}

.counterfeit > a {
  display: block !important;
}

.counterfeit-anchor {
  display: inline-block !important;
  width: 650px !important;
  height: auto;
}

.shipping-anchor {
  display: inline-block !important;
  width: 335px !important;
  height: auto;
}

.counterfeit > a > img {
  width: 100% !important;
  display: block !important;
}

.price-change-title {
  font-size: 21px;
  text-align: center;
}

#product-select {
  display: block;
  margin: 39px auto;
  padding: 18px 19px;
  outline: none;
  border: 1px #EAEAEA solid;
  width: 40%;
}

#date-display {
  border-top: 1px #EAEAEA solid;
  border-bottom: 1px #EAEAEA solid;
  margin: 0 auto 39px auto;
  width: 40%;
}

#date-display > li {
  padding: 18px 19px;
  text-align: center;
  border-bottom: 1px #EAEAEA solid;
}

#date-display > li:last-child {
  border-bottom: none;
}

#date-display > li:hover {
  background-color: #F8F8F8;
}

.hide-border {
  display: none;
}

.price-change-sum {
  display: block;
  text-align: center;
  margin-bottom: 15rem;
  font-size: 13px;
}


@media screen and (max-width: 1000px) {

  .counterfeit-anchor {
    display: inline-block !important;
    width: 500px !important;
    height: auto;
  }
  
  .shipping-anchor {
    display: inline-block !important;
    width: 258px !important;
    height: auto;
  }
  
  .counterfeit > a > img {
    width: 100% !important;
    display: block !important;
  }

  #re_area .column a span {
    padding: 5px 10px;

    font-size: 76%;
  }
  #news_a #n_tab li {
    padding: 5px;

    font-size: 78%;
  }
  .container {
    /*width: 100%; height: 100%;*/
    overflow: hidden;
    margin-bottom: 10px;
  }

  #co_area {
    background: #e3dddb;
    width: 100%;
    padding: 60px 0 40px;
    min-height: 502px;
    overflow: hidden;
    position: relative;
  }
  #co_area .md003 {
    position: relative;
    z-index: 3;
  }
  #co_area .md003 h3.head {
    margin-bottom: 15px;
  }
  #co_area .c_left {
    position: inherit;
    left: 8%;
    bottom: 0;
    /*margin-left:-37%;*/
    z-index: 1;
  }
  #co_area .c_left img {
    width: 100%;
  }
  #co_area .co_area_in {
    position: inherit !important;
    left: inherit !important;
    width: 100%;
    background: #fff;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    z-index: 2;
  }
  #co_area .co_area_in h4 {
    font-size: 187%;
    margin-bottom: 15px;
  }
  #co_area .co_area_in .co_txt001 {
    width: 100%;
    line-height: 1.7;
    margin-bottom: 20px;
  }

  #other_area {
    width: 90%;
    max-width: inherit !important;
    margin: 0 auto 77px;
  }
  #other_area #o_list01 {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #other_area #o_list01 #o_list01_in li {
    /* float: none; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #other_area #o_list01 #o_list01_in li img {
    width: 100%;
  }

  .container {
    padding-top: 55px;
  }

  .slide_all {
    display: none;
  }

  .slide_all02 {
    display: block !important;
    margin-bottom: 40px;
  }

  /*.slide_all02{
  display:none;}*/
  .slide_all02 .slide_wrap {
    width: 100%;
    /*height: auto !important;
    position: absolute;
    left: 50%;
    margin-left: -1477.5px;*/
  }

  .slide_all02 .slide_body {
    width: 100%;
  }

  .slide_all02 .slide {
    width: 985px;
  }

  .slide_all02 .slide img {
    width: 100%;
    vertical-align: bottom;
  }

  .slide_all02 .bx-wrapper {
    position: relative;
  }

  .slide_all02 .bx-controls-direction,
  .bx-pager {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  .slide_all02 .bx-controls-direction a,
  .bx-pager-item {
    display: inline-block;
    width: 20%;
    height: 5px;
    background: #000;
    border-right: solid 2px #f0f0f0;
    box-sizing: border-box;
  }

  .slide_all02 .bx-pager-item a {
    display: block;
    height: 5px;
    width: 100%;
    text-indent: -9999px;
    background: #ccc;
    /*border-radius: 10px; margin:10px 2px 0 2px;*/
  }

  .slide_all02 .bx-pager-item a.active {
    opacity: 0.3;
  }

  .slide_al02l .bx-controls-direction a {
    text-decoration: none;
    color: #000;
    /* padding:0 5px;*/
  }

  .slide_all .bx-controls {
    z-index: 100;
    width: 100%;
    background: #f1f1f1;
    height: 5px;
  }

  .slide_all02 .bx-controls-direction .bx-prev {
    background: url(/common/image/y_02.png) no-repeat left top;
    position: absolute;
    left: 10px;
    /*margin-left: -500px;*/
    margin-top: -23px;
    top: 50%;
    height: 46px;
    width: 29px;
    z-index: 999;
    display: none;
    text-indent: -9999px;
    border: none;
  }

  .slide_all02 .bx-controls-direction .bx-next {
    background: url(/common/image/y_03.png) no-repeat left top;
    position: absolute;
    right: 10px;
    /*margin-right: -500px;*/
    margin-top: -23px;
    top: 50%;
    height: 46px;
    width: 29px;
    z-index: 999;
    display: none;
    text-indent: -9999px;
    border: none;
  }

  .slide_all02 .bx-viewport {
    margin-bottom: 1px;
  }

}
p#news_btn01 {
  text-align: center;
}
p#news_btn01 a {
  width: 80%;
  max-width: 300px;
  background: #fff;
  display: block;
  text-align: center;
  padding: 10px;
  color: #990000;
  border: solid 2px #990000;
  -moz-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
  font-weight: bold;
  margin: 0 auto;
}
p#news_btn01 a:hover {
  background: #990000;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  /* .counterfeit {
    flex-direction: column;
  }

  .counterfeit-anchor {
    display: block !important;
    width: 90% !important;
  }

  .shipping-anchor {
    display: block !important;
    width: 90% !important;
    height: 60% !important;
    object-fit: cover !important;
  } */
  #product-select {
    display: block;
    margin: 39px auto;
    padding: 18px 19px;
    outline: none;
    border: 1px #EAEAEA solid;
    width: 70%;
  }
  
  #date-display {
    border-top: 1px #EAEAEA solid;
    border-bottom: 1px #EAEAEA solid;
    margin: 0 auto 39px auto;
    width: 70%;
  }
}
