@import "compass";
$experimental-support-for-mozilla: true !default;
$experimental-support-for-webkit: true !default;
$experimental-support-for-opera: true !default;
$experimental-support-for-microsoft: true !default;
$fo01:"Times New Roman", YuMincho, "Hiragino Mincho ProN", "MS PMincho", Meiryo, serif;
$fo02:  'Amiri', serif;
$fo03:'Vollkorn', serif;
$bc:#bb2121;
$wc:#fff;
$color02:#ff3453;
$color03:#050c34;
.center {
text-align: center !important;
}

.left {
text-align: left !important;
}

.right {
text-align: right !important;
}

.top0 {
margin-top: 0 !important;
}

.top5 {
margin-top: 5px !important;
}

.top10 {
margin-top: 10px !important;
}

.top15 {
margin-top: 15px !important;
}

.top20 {
margin-top: 20px !important;
}

.top25 {
margin-top: 25px !important;
}

.top30 {
margin-top: 30px !important;
}

.top35 {
margin-top: 35px !important;
}

.top40 {
margin-top: 40px !important;
}

.btm0 {
margin-bottom: 0 !important;
}

.btm5 {
margin-bottom: 5px !important;
}

.btm10 {
margin-bottom: 10px !important;
}

.btm15 {
margin-bottom: 15px !important;
}

.btm20 {
margin-bottom: 20px !important;
}

.btm25 {
margin-bottom: 25px !important;
}

.btm30 {
margin-bottom: 30px !important;
}

.btm35 {
margin-bottom: 35px !important;
}

.btm40 {
margin-bottom: 40px !important;
}

.btm45 {
margin-bottom: 45px !important;
}

.btm50 {
margin-bottom: 50px !important;
}

.btm55 {
margin-bottom: 55px !important;
}

.btm60 {
margin-bottom: 60px !important;
}

.btm65 {
margin-bottom: 65px !important;
}

.btm70 {
margin-bottom: 70px !important;
}

.btm75 {
margin-bottom: 75px !important;
}

.btm80 {
margin-bottom: 80px !important;
}

.btm85 {
margin-bottom: 85px !important;
}

.btm90 {
margin-bottom: 90px !important;
}

.btm95 {
margin-bottom: 90px !important;
}

.pT0 {
padding-top: 0 !important;
}

.pT5 {
padding-top: 5px !important;
}

.pT10 {
padding-top: 10px !important;
}

.pT15 {
padding-top: 15px !important;
}

.pT20 {
padding-top: 20px !important;
}

.pT25 {
padding-top: 25px !important;
}

.pT30 {
padding-top: 30px !important;
}

.pT35 {
padding-top: 35px !important;
}

.pT40 {
padding-top: 40px !important;
}

.pT45 {
padding-top: 45px !important;
}

.pT80 {
padding-top: 80px !important;
}

.pT90 {
padding-top: 90px !important;
}

.pT100 {
padding-top: 100px !important;
}

.pB0 {
padding-bottom: 0 !important;
}

.pB5 {
padding-bottom: 5px !important;
}

.pB10 {
padding-bottom: 10px !important;
}

.pB15 {
padding-bottom: 15px !important;
}

.pB20 {
padding-bottom: 20px !important;
}

.pL10 {
padding-left: 10px !important;
}

.lm5 {
margin-left: 5px !important;
}

.lm10 {
margin-left: 10px !important;
}

.lm15 {
margin-left: 15px !important;
}

.lm20 {
margin-left: 20px !important;
}

.lm50 {
margin-left: 50px !important;
}

.lm60 {
margin-left: 60px !important;
}

.lm70 {
margin-left: 70px !important;
}

.rm5 {
margin-right: 5px !important;
}

.rm10 {
margin-right: 10px !important;
}

.rm15 {
margin-right: 15px !important;
}

.rm20 {
margin-right: 20px !important;
}

.vAT {
vertical-align: top !important;
}

.vAM {
vertical-align: middle !important;
}

.vAB {
vertical-align: bottom !important;
}

.size10 {
font-size: 57% !important;
line-height: 1.3 !important;
}

.size11 {
font-size: 65% !important;
line-height: 1.3 !important;
}

.size12 {
font-size: 70% !important;
line-height: 1.3 !important;
}

.size13 {
font-size: 77% !important;
line-height: 1.3 !important;
}

.size14 {
font-size: 85% !important;
}

.size15 {
font-size: 93% !important;
}

.size16 {
font-size: 100% !important;
}

.size17 {
font-size: 116% !important;
}

.size18 {
font-size: 123.1% !important;
}

.size19 {
font-size: 131% !important;
}

.size20 {
font-size: 138.5% !important;
}

.size21 {
font-size: 146.5% !important;
}

.size22 {
font-size: 153.9% !important;
}

.size23 {
font-size: 161.6% !important;
}

.size24 {
font-size: 167% !important;
}

.w10 {
width: 10% !important;
}

.w20 {
width: 20% !important;
}

.w30 {
width: 30% !important;
}

.w40 {
width: 40% !important;
}

.w50 {
width: 50% !important;
}

.w60 {
width: 60% !important;
}

.w70 {
width: 70% !important;
}

.w80 {
width: 80% !important;
}

.w100 {
width: 100% !important;
}

.red {
color: #a51f2a !important;
font-size:12px;
}
.red02 {
color: #a51f2a !important;
}

.org {
color: #EB5F00;
}

.bold {
font-weight: bold;
}

.normal {
font-weight: normal;
}

.icon {
margin-right: 3px;
vertical-align: middle;
margin-top: -1px;
}

.f_l {
float: left !important;
}

.f_r {
float: right !important;
}

.mr {
margin-right: 20px !important;
}

.ml {
margin-left: 20px !important;
}

.clearfix:after {
content: ".";
height: 0;
clear: both;
display: block;
font-size: 0.1em;
line-height: 0;
visibility: hidden;
}

.clearfix {
display: inline-block;
min-height: 1%;
clear: both;
}

/* Hides from IE-mac \*/
* html .clearfix {
height: 1%;
}

a {
text-decoration: none;
color: #222;
}

a.link01 {
background: url(../image/sub_yajirushi02.gif) no-repeat left 5px;
text-decoration: underline;
padding-left: 12px;
}

a.link01:hover {
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

* {
color: #222;
}

/* End hide from IE-mac */
.pra {
position: relative;
}

.li14 {
line-height: 120% !important;
}

.li20 {
line-height: 200% !important;
}

.li25 {
line-height: 250% !important;
}


table td.alignC a{
color:#990000 !important;}

.alignC{
text-align:center;}

.alignR{
text-align:right;}

br.dis01{
display:none;}
/*loading*/

hr.kai001{
font-size:0;
line-height:0;
height:0;
border:none;
position:absolute;
top:-50px;
left:0;

}
#op {
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
background: #fff;
z-index: 1000;
}
#op p {
position: absolute;
top: 50%;
left: 50%;
width: 311px;
height: 124px;
margin-left: -156px;
margin-top: -62px;
display: none;
}
#op p img {
width: 100%;
height: auto;
}

@media screen and (max-width: 768px) {
#op p {
width: 155px;
height: 62px;
margin-left: -78px;
margin-top: -31px;
}
}
#progressBar {
position: fixed;
left: 0;
top: 50%;
width: 0;
height: 2px;
background-color: #fab3b3;
}
/*loading*/

header{
border-bottom:solid 1px #ddd;
padding-bottom:10px;
margin-bottom:26px;

#h_sp{
display:none;


p#s_logo{
padding-top:10px;
padding-left:15px;
float:left;
}
#menu{
padding-top:18px;
padding-right:15px;
float:right;
cursor:pointer;
}
}
#header_in{
width:985px;
margin:0 auto;
p#log_in{
float:right;
clear:right;
.btn_c{
margin:0 10px;}
.txt03{
font-size:78%;}
form{
display:inline-block;}
.change {
display: inline-block;
padding: 5px;
/*width: 100%;*/
border: solid 1px #a51f2a;
color: #a51f2a;
-webkit-transition: .2s ease-in;
transition: .2s ease-in;
text-align: center;
background: #fff;
text-align: center;
/*font-weight: bold;*/
font-size:70%;
font-weight: bold;
}

.change:hover {
background: none;
background-color: #a51f2a;
color: #fff;
border: solid 1px #a51f2a;
text-decoration: none;
}

input.out {
display: inline-block;
padding: 5px;
/* width: 100%;*/
border: solid 1px #000;
color: #000;
-webkit-transition: .2s ease-in;
transition: .2s ease-in;
text-align: center;
background: #fff;
text-align: center;
/*font-weight: bold;*/
font-size:70%;
font-weight: bold;
}

input.out:hover {
background: none;
background-color: #000;
color: #fff;
border: solid 1px #000;
text-decoration: none;
}
}
p#logo{
padding-top:26px;
margin-right:54px;
float:left;}
#glo{
float: left;
padding-top:54px;
#glo_in{
li{
float:left;
margin-right:22px;
a{
font-weight: bold;}}
li.last{
margin-right:0;
}}
}
#h_list{
float:right;
padding-top:15px;
margin-bottom:7px;
ul{
li.last{
margin-right:0;
padding-right:0;
border-right:none;}
li{
float:left;
margin-right:10px;
padding-right:10px;
border-right:solid 1px #ddd;
a{
font-size:80%;
font-weight: bold;
}
}
}
}
}
}

/*/header*/
#sp_menu{
display:none;
position:fixed;
z-index:999;
width:100%;
ul#sp_in{
/*background: #000;*/

li.sp_in01{

width:100%;
ul{
display:none;
li{
a{
display:block;
padding:7px 12px;
background:#333;
border-bottom: dotted 1px #666;}
}
}
a,span{
color:#fff;
background:#000;
border-bottom: dotted 1px #666;
padding:10px 12px;
width:100%;
display:block;
cursor:pointer;}
}
li.last{
border:none;}
li.sp_in01.c_001 span{
background:#000 url(../image/y_01.png) no-repeat 98% center;
}


}

}
/*md_area*/
#md_area{
background:url(../image/bg_md01.gif) repeat-x left bottom;
/*padding:27px 0;*/
#md_area_in{
max-width:985px;
width:100%;
margin:0 auto;
background:url(../image/bg_m01.gif) no-repeat left bottom;
padding-bottom:24px;}
h1{
font-size:240%;
letter-spacing:0.05em;}
}

/*/md_area*/
/*c_glo*/
#c_glo{
background:#898a89;
padding:7px 0;
#c_glo_in{
margin-bottom:0;
text-align: center;
li{
@include inline-block;
padding-right:15px;
margin-right:15px;
border-right:solid 1px #c2bfbe;
a{
color:#fff;

display: block;
font-size:92%;
}
}
li.last{
border:none;
padding-right:0px;
margin-right:0px;
a{

}}
}
}


/*/c_glo*/

/*contents*/

#contents{
width:90%;
margin:0 auto 100px;
max-width:985px;
#pan{
max-width:958px;
width:100%;
margin:0 auto;
padding-top:20px;
ul{
float:right;
li{
float:left;
margin-right:15px;
background:url(../image/bg_pan.gif) no-repeat right center;
padding-right:15px;
a,span{
font-size:82%;}
span{
font-weight: bold;}
a{
text-decoration:underline;}
a:hover{
text-decoration:none;}
}
li.last{
margin-right:0 !important;
background:none;
padding-right:0;}}
}
.in_list{
ul{
display:block;
text-align:center;
margin-bottom:40px;
li.first{
border-left:solid 1px #ddd;}
li{
display:inline-block;
border-right:solid 1px #ddd;
padding:0 20px;
a{
font-size:92%;}}
}}

section.box{
position:relative;
max-width:957px;
width:100%;
margin:0 auto 40px;
#m_h{
position:relative;
padding:20px 0;
}
#m_h_in{
background:rgba(240,240,240,0.8);

position:absolute;
left:0;
top:0;
width:100%;
z-index:2;
display:table;
vertical-align:middle;
text-align:center;

.m_h_in02{
display:table-cell;
vertical-align:middle;
padding:0 10%;
}
}
div.ta01{
table{
width:100%;
border-top:solid 1px #ddd;
th.md01{
background:#666;
color:#fff;}
th{
text-align:center;
font-weight: bold;
background:#f8f8f8;
border-right:solid 1px #fff;}
th,td{
padding:15px;
border-bottom:solid 1px #ddd;
}
}}
nav.btn_area{
width:100%;
.btn_area_in{
position:relative;
padding:60px 0; 
#im_d{
background:rgba(240,240,240,0.8);

position:absolute;
left:0;
top:0;
width:100%;
z-index:2;
display:table;
vertical-align:middle;
text-align:center;

#im_d02{
display:table-cell;
vertical-align:middle;
padding:0 10%;
}
}
}
ul{
text-align:center;
li{
display:inline-block;
width:100%;
max-width:300px;}}


}
a.btn01{
display:inline-block;
padding:10px 0;
width:100%;
border:solid 1px #a51f2a;
color:#a51f2a;
-webkit-transition: .2s ease-in;
transition: .2s ease-in;
text-align:center;
background:#fff;
text-align:center;
font-weight: bold;}
a.btn01:hover{
background:none;
background-color:#a51f2a;
color:#fff;
border:solid 1px #a51f2a;
text-decoration:none;}
a.btn02{
display:block;
padding:10px 0;
width:100%;
border:solid 1px #000;
color:#000;
-webkit-transition: .2s ease-in;
transition: .2s ease-in;
text-align:center;
background:#fff;
text-align:center;
font-weight: bold;}
a.btn02:hover{
background:none;
background-color:#000;
color:#fff;
border:solid 1px #000;
text-decoration:none;}
a.btn03{
display:inline-block;
padding:10px 0;
width:100%;
border:solid 1px #a51f2a;
color:#fff;
-webkit-transition: .2s ease-in;
transition: .2s ease-in;
text-align:center;
background:#a51f2a;
text-align:center;
font-weight: bold;}
a.btn03:hover{
background:none;
background-color:#fff;
color:#a51f2a;
border:solid 1px #a51f2a;
text-decoration:none;
}
.b_box{
background:#f6f6f6;
padding:25px 25px;
margin-bottom:30px;
}
h4.head02 {
font-size:168%;
margin-bottom:15px;
}
p{
img{
width:100%;}}
h5.head{
background: url(../image/bg_m03.gif) no-repeat left 8px;
padding-left:20px;
font-size:135%;
margin-bottom:20px;}
/*/sall_list03*/
.sall_list05 {
max-width:957px;
width:100%;
ul {
width:100%;
overflow:hidden;
li {
max-width:308px;
width:100%;
float:left;
margin-right:12px;
box-sizing:border-box;
padding:10px;
border:solid 1px #ddd;
p.s_ph01 {
margin-bottom:10px;
img{
width:100%;}
}
h4 {
font-size:168%;
margin-bottom:5px;
}
p.s_txt01 {
line-height:1.6;
margin-bottom:15px;
}
p.price02 {
text-align:center;
font-weight: bold;
span {
font-size:20px;
padding-right:5px;
}
}

}
li.last {
margin-right:0 !important;
}
}
}
/*/sall_box05*/
.sall_list04 {
max-width:957px;
width:100%;
margin:0 auto;
ul {
width:100%;
overflow:hidden;
li {
max-width:471px;
width:100%;
float:left;
margin-right:15px;
box-sizing:border-box;
padding:10px;
border:solid 1px #ddd;
p.s_ph01 {
margin-bottom:10px;
}
h4 {
font-size:168%;
margin-bottom:5px;
}
p.s_txt01 {
line-height:1.6;
margin-bottom:15px;
}
p.price02 {
font-weight: bold;
span {
font-size:20px;
padding-right:5px;
}
}
a:hover {
text-decoration:none;
}
}
li.last {
margin-right:0 !important;
}
}
}
/*/sall_list04*/
.sall_list03 {
max-width:957px;
width:100%;
margin:0 auto;
ul {
width:100%;
overflow:hidden;
li {
max-width:471px;
width:100%;
float:left;
margin-right:15px;
p.s_ph01 {
margin-bottom:10px;
}
h4 {
font-size:168%;
margin-bottom:5px;
}
p.s_txt01 {
line-height:1.6;
margin-bottom:15px;
}
p.price02 {
font-weight: bold;
span {
font-size:20px;
padding-right:5px;
}
}
a:hover {
text-decoration:none;
}
}
li.last {
margin-right:0 !important;
}
}
}
/*/sall_list03*/
.sall_list02 {
max-width:957px;
width:100%;
ul {
width:100%;
overflow:hidden;
li {
max-width:308px;
width:100%;
float:left;
margin-right:12px;
p.s_ph01 {
margin-bottom:10px;
img{
width:100%;}
}
h4 {
font-size:168%;
margin-bottom:5px;
}
p.s_txt01 {
line-height:1.6;
margin-bottom:15px;
}
p.price02 {
text-align:center;
font-weight: bold;
span {
font-size:20px;
padding-right:5px;
}
}

}
li.last {
margin-right:0 !important;
}
}
}
/*/sall_box02*/
ol.num01 {
li {
list-style: inside decimal;
text-indent: -1.0em;
padding-left: 1.0em;
line-height: 150%;
margin-bottom: 7px;
}
li.last {
margin-bottom: 0;
}
}
/*num01*/

ul.num01 {
li {
list-style: inside disc;
text-indent: -1.0em;
padding-left: 1.0em;
line-height: 150%;
margin-bottom: 7px;
}
li.last {
margin-bottom: 0;
}
}
ul.num02 {
li {
list-style: inside square;
text-indent: -1.0em;
padding-left: 1.0em;
line-height: 150%;
margin-bottom: 7px;
}
li.last {
margin-bottom: 0;
}
}
ul.num03 {
li {
list-style: url(../image/sub_yajirushi02.gif);
text-indent: -1.0em;
padding-left: 1.0em;
line-height: 150%;
margin-bottom: 7px;
a {
text-decoration: underline;
}
a:hover {
text-decoration: none;
}
}
}
h4.txt01{
text-align:center;
font-size:168%;
margin-bottom:30px;}
.txt02{
text-align:center;
line-height:1.8;}
.md003{
text-align:center;
h3.head{
@include inline-block;
font-size:215%;
background:url(../image/bg_m02.gif) center bottom no-repeat;
padding-bottom:20px;
margin-bottom:46px;
}
}


}
/*box*/
.md002{
text-align:center;
h2.head{
margin:0 auto 43px;
padding-bottom:10px;
padding-top:69px;
border-bottom: solid 1px #000;
@include inline-block;
font-size:300%;}
}

}


/*/contents*/


/*footer*/
footer{
	#copy{
border-top:solid 1px #ddd;
padding-top:10px;
padding-bottom:10px;
font-size:80%;
text-align:center;}
	#footer_in{
	width:90%;
	max-width:985px;
	margin:0 auto;
border-top:solid 1px #ddd;
padding-top:45px;

#f_list02{
	float:left;
margin-bottom:30px;
width:100%;
ul{
li{
float:left;
margin-right:10px;
padding-right:10px;
border-right:solid 1px #ddd;
a{
display:block;
padding-top:7px;
font-size:80%;
font-weight: bold;}
}
li.last{
margin-right:0;
padding-right:0;
border:none;}
}
}
p#log001{
	float:right;}
#f_logo{
	float:left;
	margin-right:39px;}
	#sns_b{
		float:right;
		margin-bottom:17px;
		ul{
			li{
				margin-right:10px;
				float:left;
				&.last{
					margin-right:0;}}}}
	#f_list{
		ul{
			li{
				float:left;
				margin-right:22px;
				a{
					font-weight: bold;}
				&.last{
					margin-right:0;}
				}
				}
				}
	}
}

/*footer{
width:100%;
border-top:solid 1px #ddd;
padding-top:45px;
padding-bottom:10px;
#copy{
border-top:solid 1px #ddd;
padding-top:10px;
font-size:80%;
text-align:center;}
#f_logo{
text-align:center;
margin-bottom:30px;}
#f_list02{
text-align:center;
margin-bottom:30px;
width:100%;
p#log001{
@include inline-block;}
ul{
@include inline-block;
margin-left:20px;

li{
float:left;
margin-right:10px;
padding-right:10px;
border-right:solid 1px #ddd;
a{
display:block;
padding-top:7px;
font-size:80%;
font-weight: bold;}
}
li.last{
margin-right:0;
padding-right:0;
border:none;}
}
}
#f_list{
ul{
text-align:center;
margin-bottom:0;}
li{
@include inline-block;
margin-right:15px;
a{
font-weight: bold;
}
}
li.last{
margin-right:0;}
}
#sns_b{
margin-bottom:20px;
ul{
text-align:center;
margin-bottom:0;
li{
@include inline-block;
margin-right:10px;
}
li.last{
margin-right:0;}
}
}
}*/


/*/footer*/

@media screen and (min-width: 1000px) {
#sp_menu{
display:none !important;}

}

@media screen and (max-width: 1000px) {
div.ta01{
table{
border-left:solid 1px #ddd;
th.w30{
width:100% !important;}
th.md01{
display:none;}
th,td{
display:block;
border-right:solid 1px #ddd !important;}}}
header{
position:fixed;
width:100%;
background:#fff;
z-index:999;
}
#sp_menu{
/*display:block;*/
}
#md_area{
padding-top:90px;}
#md_area_in h1{
padding-left:15px;
padding-right:15px;}
#header_in{
display:none !important;}
#h_sp{
display:block !important;}
#c_glo{
display:none !important;}
section.box{
nav.btn_area ul li{
margin-bottom:15px !important;}
.sall_list02 ul li{
max-width:100% !important;
margin-right:0 !important;}
.sall_list05 ul li{
max-width:100% !important;
margin-right:0 !important;
margin-bottom:20px !important;}
.sall_list04 ul li{
max-width:100% !important;
margin-right:0 !important;
margin-bottom:20px !important;}
#sall_list03 ul li{
max-width:100% !important;
margin-right:0 !important;}
.f_l {
float: none !important;
}

.f_r {
float: none !important;
}

.mr {
margin-right: 0px !important;
}

.ml {
margin-left: 0px !important;
}
}
#f_link{
display:none !important;}
br.dis01{
display:block;}
}

/*form*/
div.ta01 .wS {
padding: 3px;
width: 100%;
margin-bottom: 6px;
border: solid 1px #ddd;
background: #f8f8f8;
}
div.ta01 .wS04 {
padding: 3px;
width: 80%;
margin-bottom: 6px;
border: solid 1px #ddd;
background: #f8f8f8;
}
div.ta01 .wS02 {
padding: 3px;
width: 30%;
border: solid 1px #ddd;
background: #f8f8f8;
}
div.ta01 .wS03 {
padding: 1px;
width: 50%;
background: #f8f8f8;
}
div.ta01 .imeOff {
ime-mode: disabled;
}
div.ta01 .imeOn {
ime-mode: active;
}
div.ta01 .wSS {
padding: 3px;
width: 20%;
border: solid 1px #ddd;
background: #f8f8f8;
}
div.ta01 .wSSS {
padding: 3px;
width: 100px;
border: solid 1px #ddd;
background: #f8f8f8;
}
div.ta01 .f10_2 {
font-size: 86%;
color: #999;
}
div.ta01 input:focus {
background: #fff !important;
}
div.ta01 textarea:focus {
background: #fff !important;
}

.ta01 table tr th .f10 {
color: #ff0000;
font-size: 86%;
}

input.kakunin{
display:inline-block;
padding:10px 0;
width:100%;
border:solid 1px #a51f2a;
color:#a51f2a;
-webkit-transition: .2s ease-in;
transition: .2s ease-in;
text-align:center;
background:#fff;
text-align:center;
font-weight: bold;}
input.kakunin:hover{
background:none;
background-color:#a51f2a;
color:#fff;
border:solid 1px #a51f2a;
text-decoration:none;}
input.reset{
display:inline-block;
padding:10px 0;
width:100%;
border:solid 1px #000;
color:#000;
-webkit-transition: .2s ease-in;
transition: .2s ease-in;
text-align:center;
background:#fff;
text-align:center;
font-weight: bold;}
input.reset:hover{
background:none;
background-color:#000;
color:#fff;
border:solid 1px #000;
text-decoration:none;}




/*contents02*/
#contents02{
background: url(../image/bg_box001.gif) repeat left top;
padding:70px 44px;
section.box{
width:985px;
margin:0 auto;
position:relative;
hr.kai001{
font-size:0;
line-height:0;
height:0;
border:none;
position:absolute;
top:-50px;
left:0;

}

#voice{
position:relative;

border:solid 1px #ebebeb;
background:#f6f6f6;
padding:36px 32px;
#voice_in{
background:rgba(255,255,255,0.5);
position:absolute;
left:0;
top:0;
width:100%;
z-index:2;
display:table;
vertical-align:middle;
text-align:center;

#voice_in02{
display:table-cell;
vertical-align:middle;
padding:10%;}

}
nav.btn_area{
width:100%;
ul{
text-align:center;
li{
display:inline-block;
width:100%;
max-width:300px;}}


}
a.btn01{
display:inline-block;
padding:10px 0;
width:100%;
border:solid 1px #a51f2a;
color:#a51f2a;
-webkit-transition: .2s ease-in;
transition: .2s ease-in;
text-align:center;
background:#fff;
text-align:center;
font-weight: bold;}
a.btn01:hover{
background:none;
background-color:#a51f2a;
color:#fff;
border:solid 1px #a51f2a;
text-decoration:none;
}
a.btn02{
display:inline-block;
padding:10px 0;
width:100%;
border:solid 1px #a51f2a;
color:#fff;
-webkit-transition: .2s ease-in;
transition: .2s ease-in;
text-align:center;
background:#a51f2a;
text-align:center;
font-weight: bold;}
a.btn02:hover{
background:none;
background-color:#fff;
color:#a51f2a;
border:solid 1px #a51f2a;
text-decoration:none;
}
p.t_txt{
margin-bottom:20px;
textarea{
width:100%;
border:solid 1px #ddd;
}
}
p.title{
input.wS{
background: #fff;
border: 1px solid #ddd;
margin-bottom: 6px;
padding: 5px;
width: 100%;}}
p.star{
margin-bottom:10px;
select{
background:#fff;
border: solid 1px #ddd;
padding-right:20px;
color:#f5a915;
option.s_area{

color:#f5a915;
span{
color:#f5a915 !important;}
}
}}
h5.head{
background: url(../image/bg_m03.gif) no-repeat left 8px;
padding-left:20px;
font-size:135%;
margin-bottom:20px;}
}
#u_btn{
background:#e7e7e6;
max-width:985px;
width:100%;
text-align:center;
padding:10px 15px;
font-size:92%;
@include transition(0.2s ease-in);
cursor:pointer;
margin-bottom:30px;}
#u_btn:hover{
background:#aaa;}
#u_area{
background:#fff;
padding:30px;
margin-bottom:15px;
#u_area_in{

li.in001{
border-bottom:dotted 1px #ddd;
padding-bottom:20px;
margin-bottom:20px;
span.name_t{
font-size:76%;
padding-right:15px;
color:#999;}
span.s_btn02{
font-size:92%;
padding-left:10px;
color:#999;
a{
border: solid 2px #000;
background:#000;
color:#fff;
@include transition(0.2s ease-in);
padding:7px 15px;
font-weight: bold;

}
a:hover{
background:#fff;
color:#000;
}}
span.s_btn{
font-size:92%;
padding-left:15px;
color:#999;
input{
border: solid 2px #a51f2a;
background:#a51f2a;
color:#fff;
@include transition(0.2s ease-in);
padding:7px 15px;
font-weight: bold;

}
input:hover{
background:#fff;
color:#a51f2a;
}}
span.name{
font-weight: bold;}
h4{
font-size:123.1%;
margin-bottom:10px;
font-weight: bold;}


.star{
margin-bottom:15px;
li{
@include inline-block;}
}
}

}
}
.md003{
text-align:center;
h3.head{
@include inline-block;
font-size:215%;
background:url(../image/bg_m02.gif) center bottom no-repeat;
padding-bottom:20px;
margin-bottom:46px;
}
}
}



}
@media screen and (max-width: 1000px) {
#contents02{
background: url(../image/bg_box001.gif) repeat left top;
padding:70px 3%;
section.box{
width:90%;
}
}


}

/*/contents02*/

/*contents03*/

#contents03{
padding-top:60px;
.md003{
text-align:center;

#pro_list01{
width:100%;
margin-bottom:30px;
aside.last{
margin-right:0;}
aside{
width:18%;
/*@include inline-block;*/
float:left;
margin-right:2.5%;

a{
display:block;
@include transition(0.2s ease-in);
padding-bottom:15px;
p.s_title{
font-size:86%;}
h5{
font-size:116%;}
.pl_ph{
margin-bottom:10px;
img{
width:100%;
}
}
}
a:hover{
background:#f8f8f8;
text-decoration:none;
}
}
}
h3.head{
@include inline-block;
font-size:215%;
background:url(../image/bg_m02.gif) center bottom no-repeat;
padding-bottom:20px;
margin-bottom:46px;
}
}
}

/*/contents03*/
@media screen and (max-width: 1000px) {
#contents03{
#pro_list01{
width:90% !important;
margin:0 auto;
aside.last{
margin-right:0;}
aside{
width:100% !important;
/*@include inline-block;*/
float:none !important;
margin-right:0 !important;
margin-bottom:15px;

a{
display:block;
.pl_ph{
img{
width:100%;
}
}
}
}
}
}


#contents{

.in_list{
ul{
display:table;
width:100%;
text-align:center;
margin-bottom:40px;
border-top:dotted 1px #ddd;
border-left:dotted 1px #ddd;
li.first{
border-left:none;}
li{
display:table-cell;
width:50%;
float:left;
border-bottom:dotted 1px #ddd;
border-right:dotted 1px #ddd;
padding:0 20px;
a{
font-size:92%;
padding:10px 0;
display:block;}}
}}
}
}

/*search*/
#search{
.content_wrap.disnon {
display: none;
}
.content_wrap{
.s_box.disnon{
display:none;}
.s_box{
.more{
padding-top:22px;
clear:both;
input.more_b{
width:100%;
background:#e7e7e6;
border:none;
text-align:center;
padding:3px;
font-size:78%;}}

ul{
li.none{
margin-right:0;
}
li{
float:left;
margin-right:20px;
margin-bottom:20px;

max-width:315px;
width:100%;
a{
display:block;
@include transition(0.2s ease-in);
padding-bottom:15px;
width:100%;
text-align:center;

p.s_title{
font-size:86%;}
h5{
font-size:116%;}
.pl_ph{
margin-bottom:10px;
img{
width:100%;
}
}

}
a:hover{
background:#f8f8f8;
text-decoration:none;
}
}
}
}
.nn_list{
overflow:hidden;
margin: 0 auto 20px;
max-width: 560px;
width: 100%;

li{
border-bottom:dotted 1px #ccc;
float:left;
width:128px;
margin-right:16px;
padding-bottom:3px;
margin-bottom:10px;
font-size:86%;
cursor:pointer;
color:#999;}
li.select{
color:#000;}
li.none{
margin-right:0;}}

}	



#tab{
border-bottom:solid 1px #000;
text-align:center;
margin-bottom:50px;
li.select{
background:url(../image/circle001.gif) no-repeat center bottom;
color:#000;}
li{
cursor:pointer;
display:inline-block;
margin:0px 10px;
color:#aaabab;
padding-bottom:15px;
}
}



}


@media screen and (max-width: 1000px) {
#search #tab li.all{
@include inline-block;
width:60%;
padding:7px;
border:solid 1px #000;
margin-bottom:20px;
background:#fff;
color:#000 !important;
@include transition(0.2s ease-in);}
#search #tab li.all.select{
background:#000 !important;
color:#fff !important;

}
#search #tab li.all:hover{
background:#000;
color:#fff !important;}
#search #tab li.select{
	background:none !important;}
	#search #tab li{
		margin-left:5px !important;
		margin-right:5px !important;}
#search{

#tab{
ul{
li{
}
li.all{

}
}
}

.content_wrap{
.nn_list li{
width:49%;
margin-right:2%;

}
.nn_list li.even{
margin-right:0 !important;}
.s_box{
ul{

li{
float:none !important;
margin-bottom: 20px;
margin-right: 0px !important;
max-width: 100% !important;
width: 100%;}
}

}
}

}


}




/*faq*/
#q_cat{
width:100%;
margin-bottom:40px;
ul{
li.even{
margin-right:0;}
li{
float:left;
max-width:471px;
width:100%;
margin-right:15px;
margin-bottom:10px;
a{
display:block;
border: solid 1px #ddd;
@include transition(0.2s ease-in);
text-align:center;
padding:15px 10px;
font-weight: bold;
}
a:hover{
background:#ddd;
text-decoration:none;}

}
}
}

#contents section.box{

.faq_list{
.faq_in{
.a_box{
padding-bottom:15px;
.a_box_in{
background: url(../image/bg_box001.gif) repeat;
padding:25px;

.sall_list03 ul li{
width:446px;}
.sall_list02 ul li{
	max-width:294px;}
	.sall_list04 ul li{
		width:446px;
		background:#fff;}
		.sall_list05 ul li{
			width:294px;
			background:#fff;}

}}
li.f_in01.first{
border-top:solid 1px #ddd;}
li.f_in01{
border-bottom:solid 1px #ddd;
.f_md{
cursor:pointer;
padding-top:15px;
padding-bottom:15px;
position:relative;
span.f_icon{
background:url(../image/plus01.gif) no-repeat left top;
width:14px;
height:14px;
position:absolute;
right:1%;
top:30px;}
h4{
margin-bottom:5px;
padding-right:10%;}

time{
color:#999;
font-size:86%;}}
}
}




}
}
section.box02{
width:985px;

.s_box{

ul{
li.none{
margin-right:0;
}
li{
float:left;
margin-right:20px;
margin-bottom:20px;

max-width:315px;
width:100%;
a{
display:block;
@include transition(0.2s ease-in);
padding-bottom:15px;
width:100%;
text-align:center;

p.s_title{
font-size:86%;}
h5{
font-size:116%;}
.pl_ph{
margin-bottom:10px;
img{
width:100%;
}
}

}
a:hover{
background:#f8f8f8;
text-decoration:none;
}
}
}
}


}
@media screen and (max-width: 1000px) {
section.box02{
width:100% !important;
}
.s_box{
ul{

li{
float:none !important;
margin-bottom: 20px;
margin-right: 0px !important;
max-width: 100% !important;
width: 100%;}
}

}

}


/*change*/


#c_list01{
ul{
li{
max-width:471px;
width:100%;

a{
border:solid 1px #ddd;
display:block;
padding:25px 10px;
text-align:center;
@include transition(0.2s ease-in);
font-weight: bold;
}
a:hover{
background:#f8f8f8;
text-decoration:none;
}
}}
}

@media screen and (max-width: 1000px) {
#c_list01 ul li{
max-width:100%;
float:none !important;
margin-bottom:20px !important;
}

}

/*#cboxContent{
width:90% !important;}
#cboxLoadedContent{
width:100% !important;
}
#cboxLoadedContent{
width:100% !important;
}
#colorbox{
	width:80% !important;}*/
	.fancybox-iframe{
width:100% !important;
height:90%;}
.pop_up{
padding:30px 20px;
iframe{
width:100% !important;}
h5.head{
background: url(../image/bg_m03.gif) no-repeat left 8px;
padding-left:20px;
font-size:135%;
margin-bottom:10px;}
p.t_txt{
margin-bottom:20px;
textarea{
width:100%;
border:solid 1px #ddd;
}
}
p.title{
input.wS{
background: #fff;
border: 1px solid #ddd;
margin-bottom: 6px;
padding: 5px;
width: 100%;}}
p.star{
margin-bottom:10px;
select{
background:#fff;
border: solid 1px #ddd;
padding-right:20px;
color:#f5a915;
option.s_area{

color:#f5a915;
span{
color:#f5a915 !important;}
}
}}
a.btn01{
display:inline-block;
padding:10px 0;
width:100%;
border:solid 1px #a51f2a;
color:#a51f2a;
-webkit-transition: .2s ease-in;
transition: .2s ease-in;
text-align:center;
background:#fff;
text-align:center;
font-weight: bold;}
a.btn01:hover{
background:none;
background-color:#a51f2a;
color:#fff;
border:solid 1px #a51f2a;
text-decoration:none;
}
a.btn02{
display:inline-block;
padding:10px 0;
width:100%;
border:solid 1px #a51f2a;
color:#fff;
-webkit-transition: .2s ease-in;
transition: .2s ease-in;
text-align:center;
background:#a51f2a;
text-align:center;
font-weight: bold;}
a.btn02:hover{
background:none;
background-color:#fff;
color:#a51f2a;
border:solid 1px #a51f2a;
text-decoration:none;
}

}

html, body {
height: 100%;
width: 100%;
}

