
   <div id="l_h">{$smarty.const.TITLE} </div>

     <div id="r_h" style="text-align:right;">
       {$smarty.const.TODAY}({$smarty.const.DAY_OF_WEEK})&nbsp;&nbsp;{$smarty.const.USER_NAME}さんがログインしています&nbsp;
       <span style="display:block;float:right;margin-right:12px;">
           <input type="button" class="submits minisubmit" value="ログアウト" onClick="location.href='/system/logout.php'" style="margin-left:12px;" />
       </span>
     </div>
     <div class="clear"></div>
     <div style="font-size: 50px; color: #fff; text-align: center; background-color: red; width: 20%; margin: 0 auto; padding: 1rem 2rem;">仮想環境</div>
    </div>