{include file="./common/meta.html"}
</head>
 <body id="two-left-w">
  <div id="wrapper">
   <div id="header">
	<div>
     {include file="./common/head.html"}


    <div id="logo">
     <img src="cmn_img/logo.jpg" />
    </div>
   </div><!-- /#header -->

   <div id="container">
    <div id="contents" style="height:400px;">
     <div id="pan">{$smarty.const.TITLE}</div>

     <div id="data">
      <!-- / -->
     </div>
     <div class="clear"></div>
    </div>
   </div>
   {include file="./common/menu.html"}

   <div class="clear"></div>
    {include file="./common/footer.html"}

  </div>

 </body>
</html>