{include file="./common/meta.html"}

{literal}
<script type="text/javascript" charset="utf-8">
<!--
// 確認ウィンドウを表示する
function chk()
{
    if( confirm( "削除してもよろしいですか？" ) )
    {
        return true;
    }
    return false;
}

// 確認ウィンドウを表示する
function cpChk( title )
{
    if( confirm( "『" + title + "』コピーしてもよろしいですか？" ) )
    {
        return true;
    }
    return false;
}
// -->
</script>
{/literal}
</head>
 <body>
  <div id="wrapper">
   <div id="header">
    <div>
	 {include file="./common/head.html"}
    <div id="logo"><img src="../../cmn_img/logo.jpg" /></div>
   </div><!-- /#header -->

   <div id="container">
    <div id="contents">
     <div id="pan"><a href="login.php">{$smarty.const.TITLE}</a> / {$smarty.const.PAGE_TITLE}管理 /</div>

{include file="./common/downloadMenu.html"}

     <div id="data">
       <div class="patternPan">
       {if !$smarty.get.d}{$smarty.const.PAGE_TITLE}一覧を表示しています。
       {elseif $smarty.get.d==1}<b>{$smarty.get.t}</b>を削除しました。
       {elseif $smarty.get.d==2}<b>{$title}</b>を{if $smarty.get.dispFlg}公開{else}非公開に{/if}しました。
       {elseif $smarty.get.d==3}<b>{$smarty.get.t}</b>をコピーしました。
       {/if}
       </div>

<table cellpadding="0" cellspacing="0" style="width:100%;">
	     <tr class="caption">
		  <th class="center threg" colspan="2">
		   {*会員検索*}会社名　/　会員名
		   {*<form action="./{$smarty.const.THE_FILE_NAME}.php" method="get" style="float:right;"><input class="submits minisubmit" type="submit" name="byall" value="検索条件を解除する" style="width:200px;" /></form>*}
		  </th>
         </tr>
<form{$form.attributes}>
         <tr>
          <th width="16%" class="threg">会員</th>
          <td class="tdreg" style="line-height:2em;"><a href="./memberAddChange.php?memberId={$smarty.get.memberId}">{$memberArray[$smarty.get.memberId]}</a>{*　{$form.productId.html}*}</td>
         </tr>
{*
         <tr>
          <th class="threg">開催日</th>
          <td class="tdreg">
          <p>{$form.dateStart.Y.html} 年 {$form.dateStart.m.html} 月 {$form.dateStart.d.html} 日～
          {$form.dateEnd.Y.html} 年 {$form.dateEnd.m.html} 月 {$form.dateEnd.d.html} 日</p>
          </td>
         </tr>
         <tr>
           <td colspan="4" class="tdreg center">
           <div style="width:100%;height:26px;text-align:center;">
            <input type="submit" name="spotlight" value="この条件で検索する" style="width:200px;text-align:center;" />
           </div>
          </td>
         </tr>
*}
</form>
       </table>

<div class="clear"></div>
{if $listCount}
<div class="pager">
{$pagerLinks.all}
</div>
<div class="clear"></div>
{/if}


{if $smarty.get.memberId}
<table class="datasheet" cellpadding="0" cellspacing="0" style="margin-top:10px;width:100%;">

<th style="text-align:center;" class="threg" colspan="2">
{*<a href="./{$smarty.const.THE_FILE_NAME}.php?sort=title&cond={if $smarty.get.sort == "title" && $smarty.get.cond == "DESC"}ASC{else}DESC{/if}{$sortLink.addition}">*}
製品名
{*</a>*}
</th>
<th style="text-align:center;width:180px;" class="threg">最新ダウンロード日時</th>
<th style="text-align:center;width:100px;" class="threg">ダウンロード数</th>

{foreach from=$dataProduct item=value name=result key=key}
{if $dataCnt.cntFlg[$value.id]}
<tr>
<td class="tdreg" colspan="4" style="background-color:#eee;">{$value.name} / {$value.subName} {$value.cntFlg}</td>
</tr>
    {foreach from=$value.catalog item=cvalue name=cresult key=ckey}
<tr>
    <td class="tdreg" width="50px" style="font-size:10px;text-align:right;">カタログ</td>
    <td class="tdreg">{if $cvalue.imageAlt}{$cvalue.imageAlt}{else}{$cvalue.fileName}{/if}</td>
    <td class="tdreg">{$dataCnt.file.1[$cvalue.id][$cvalue.imgId].latestDateTime|date_format:"%Y年%m月%d日 %H時%M分"}</td>
    <td class="tdreg" style="text-align:center;">{$dataCnt.file.1[$cvalue.id][$cvalue.imgId].cnt}</td>
</tr>
    {/foreach}
    {foreach from=$value.draw item=cvalue name=cresult key=ckey}
<tr>
    <td class="tdreg" width="50px" style="font-size:10px;text-align:right;">図面</td>
    <td class="tdreg">{if $cvalue.imageAlt}{$cvalue.imageAlt}{else}{$cvalue.fileName}{/if}</td>
    <td class="tdreg">{$dataCnt.file.2[$cvalue.id][$cvalue.imgId].latestDateTime|date_format:"%Y年%m月%d日 %H時%M分"}</td>
    <td class="tdreg" style="text-align:center;">{$dataCnt.file.2[$cvalue.id][$cvalue.imgId].cnt}</td>
</tr>
    {/foreach}
<tr>
    <td class="tdreg" width="50px" style="font-size:10px;text-align:right;">zip</td>
    <td class="tdreg"></td>
    <td class="tdreg">{$dataCnt.zip[$value.id].latestDateTime|date_format:"%Y年%m月%d日 %H時%M分"}</td>
    <td class="tdreg" style="text-align:center;">{$dataCnt.zip[$value.id].cnt}</td>
</tr>
{/if}
{*
<tr>
<td class="tdreg" colspan="3" style="background-color:#eee;"></td>
</tr>
*}
{/foreach}

{*
{if $listCount}
<tr>
<td colspan="2" class="hothre">
<font>全{$listCount}件中{$cnt.start}～{$cnt.end}件を表示。</font>
</td>
</tr>
{/if}
*}
</table>
{/if}
<div class="pager">
{$pagerLinks.all}
</div>      <div class="clear"></div>
     </div>
     <div class="clear"></div>
    </div>
   </div>

{include file="./common/menu.html"}   <div class="clear"></div>
   {include file="./common/footer.html"}
  </div>
 </body>
</html>
