{include file="./common/meta.html"}
<link rel="stylesheet" type="text/css" href="css/pulldown.css"/>
<script type="text/javascript" src="./js/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="./js/ckfinder/ckfinder.js"></script>
<script type="text/javascript" src="./js/load.js"></script>
<script language=javascript>
{literal}
function categoryView( flg )
{
    for( var i = 1; i <= 4; i++ )
    {
        if( document.getElementById( 'group' + i ) )
        {
            if( i == flg )
                document.getElementById( 'group' + i ).style.display = "table-row-group";
            else
                document.getElementById( 'group' + i ).style.display = "none";
        }
    }
}

{/literal}
</script>
</head>
 <body id="two-left-w">
  <div id="wrapper">
   <div id="header">
    <div>
     {include file="./common/head.html"}
    <div id="logo">
     <img src="../../cmn_img/logo.jpg" />
    </div>
   </div><!-- /#header -->
   <div id="container">
    <div id="contents">
     <div id="pan">
      <a href="./login.php">{$smarty.const.TITLE}</a> / {$smarty.const.PAGE_TITLE}管理     </div>

{include file="./common/contentsMenu.html"}
     <div id="data">
<form{$form.attributes}>
       <div class="patternPan">{$smarty.const.PAGE_TITLE}情報を{if $smarty.request.id}編集{else}登録{/if}します。<br /><span style="color:#ff0000;">＊の項目は必ず入力・選択してください</span></div>
       {if $form.errors}
       <div style="border:double 3px #ff0000;margin-bottom:10px;padding:8px;background-color:#ffffff;">
       {foreach from=$form.errors item=value}
       <span style="color:#000;">★</span>{$value}<br />
       {/foreach}
       </div>
       {/if}

       <table cellpadding="0" cellspacing="0" style="margin-bottom:20px;width:100%;">
         <tr class="caption"><th colspan="5" class="center">概要</th></tr>
          <tr>
            <th style="text-align:right;width:150px;" class="threg">投稿日</th>
    
            <td class="tdreg">{$form.dateTime.html}</td>
          </tr>
          <tr>
            <th style="text-align:right;" class="threg">記事タイプ<span style="color:#ff0000;">＊</span></th>
            <td class="tdreg">{$form.contentsCategory.html}</td>
          </tr>
          <tr>
            <th style="text-align:right;" class="threg">カテゴリ<span style="color:#ff0000;">＊</span></th>
            <td class="tdreg">{$form.category.html}</td>
          </tr>
{*
          <tr>
            <th style="text-align:right;" class="threg">カテゴリ<span style="color:#ff0000;">＊</span></th>
            <td class="tdreg">{$form.category.html}</td>
          </tr>
          <tr>
            <th style="text-align:right;" class="threg">サブカテゴリ</th>
            <td class="tdreg">
              {$form.subCategory.html}　{$form.productFlg.html}
            </td>
          </tr>
*}
          <tr>
            <th style="text-align:right;" class="threg">タイトル<span style="color:#ff0000;">＊</span></th>
            <td class="checkBox tdreg">{$form.title.html}</td>
          </tr>
{*
{assign var="sessionKey" value=$smarty.const.IMG_SESSION_KEY}
          <tr>
            <th width="16%" style="text-align:right;" class="threg">サムネイル画像</th>
            <td class="tdreg" style="padding-bottom:10px;">
{section name=cnt start=1 loop=$maxImageCnt+1}
               <div style="float:left;display:inline;width:220px;margin-right:20px;">

               {if $fileFlg[$smarty.section.cnt.index] == 1}
                   {if !$smarty.post.imageDel[$smarty.section.cnt.index] && $smarty.session.$sessionKey[$smarty.section.cnt.index].fileName}
                       <img src="./temp/{$smarty.session.$sessionKey[$smarty.section.cnt.index].fileName}" alt="アップ予定ファイル" width="{$smarty.session.$sessionKey[$smarty.section.cnt.index].img.width}" height="{$smarty.session.$sessionKey[$smarty.section.cnt.index].img.height}" /><br />
                       <input type="hidden" name="fileName[{$smarty.section.cnt.index}]" value="{$smarty.session.$sessionKey[$smarty.section.cnt.index].fileName}" />

                   {elseif !$smarty.post.imageDel[$smarty.section.cnt.index] && $data.image[$smarty.section.cnt.index].fileName && !$smarty.session.$sessionKey[$smarty.section.cnt.index].fileName}
                       <img src="../upImage/{$smarty.const.FILE_CATEGORY}/{$data.image[$smarty.section.cnt.index].fileName}" alt="登録画像" width="200" /><br />
                       <input type="hidden" name="fileName[{$smarty.section.cnt.index}]" value="{$data.image[$smarty.section.cnt.index].fileName}" />

                   {/if}
               {else}
                   {if $data.image[$smarty.section.cnt.index].fileName && !$smarty.session.$sessionKey[$smarty.section.cnt.index].fileName}
                       <img src="../upImage/{$smarty.const.FILE_CATEGORY}/{$data.image[$smarty.section.cnt.index].fileName}" alt="登録画像" width="200" height="{$data.image[$smarty.section.cnt.index].image.height}" /><br />
                       <input type="hidden" name="fileName[{$smarty.section.cnt.index}]" value="{$data.image[$smarty.section.cnt.index].fileName}" />

                   {elseif $smarty.session.$sessionKey[$smarty.section.cnt.index].fileName}
                       <img src="./temp/{$smarty.session.$sessionKey[$smarty.section.cnt.index].fileName}" alt="登録画像" /><br />
                       <input type="hidden" name="fileName[{$smarty.section.cnt.index}]" value="{$smarty.session.$sessionKey[$smarty.section.cnt.index].fileName}" width="{$smarty.session.$sessionKey[$smarty.section.cnt.index].img.width}" height="{$smarty.session.$sessionKey[$smarty.section.cnt.index].img.height}" />

                   {/if}
               {/if}

                   {if !$flg}
                   {$form[$smarty.section.cnt.index].html}
                   <br /><span style="font-size:10px;color:#ff0000;">登録画像サイズ 横{$maxWidth[$smarty.section.cnt.index]}px×縦{$maxHeight[$smarty.section.cnt.index]}px</span>
                   {/if}
                   <br />{$form.imageDel[$smarty.section.cnt.index].html}
               </div>
{/section}
            </td>
          </tr>
*}

        <tbody id="group1" style="display:{if $smarty.post.contentsCategory == 1 || ( !$smarty.post.contentsCategory && $data.contentsCategory == 1 )}table-row-group{else}none{/if}">
          <tr>
            <th style="text-align:right;" class="threg">URL<span style="color:#ff0000;">＊</span></th>
            <td class="checkBox tdreg">{$form.url.html}</td>
          </tr>
        </tbody>
        <tbody id="group2" style="display:{if $smarty.post.contentsCategory == 2 || ( !$smarty.post.contentsCategory && $data.contentsCategory == 2 )}table-row-group{else}none{/if}">
          <tr>
            <th style="text-align:right;" class="threg">PDF<span style="color:#ff0000;">＊</span></th>
            <td class="tdreg">
            {assign var=fileCategory value=$smarty.const.FILE_SESSION_KEY}
               {if $pdfFlg == 1}
                   {if !$smarty.post.pdfDel && $smarty.session.$fileCategory}
                       <a href="./temp/{$smarty.session.$fileCategory.fileName}" target="_blank"><img src="./cmn_img/icons/pdf.png" alt="アップ予定PDF" width="50" height="50" /></a><br />
                       <input type="hidden" name="pdfFileName" value="{$smarty.session.$fileCategory.fileName}" />
                   {elseif !$smarty.post.pdfDel && $data.pdfFileName && !$smarty.session.$fileCategory.fileName}
                       <a href="../upImage/{$smarty.const.FILE_CATEGORY}/{$data.pdfFileName}" target="_blank"><img src="./cmn_img/icons/pdf.png" alt="登録済PDF" width="50" height="50" /></a><br />
                       <input type="hidden" name="pdfFileName" value="{$data.pdfFileName}" />
                   {/if}
               {else}
                   {if $data.pdfFileName && !$smarty.session.$fileCategory.fileName}
                       <a href="../upImage/{$smarty.const.FILE_CATEGORY}/{$data.pdfFileName}" target="_blank"><img src="./cmn_img/icons/pdf.png" alt="登録PDF" width="50" height="50" /></a><br />
                   {elseif $smarty.session.$fileCategory.fileName}
                       <a href="./temp/{$data.pdfFileName}" target="_blank"><img src="./cmn_img/icons/pdf.png" alt="登録PDF" width="50" height="50" /></a><br />
                   {/if}
               {/if}
               {if !$pdfFlg}
               {$form.userfile.html}<br />
               {if $data.pdfFileName}{$form.pdfDel.html}{/if}
               {/if}
            </td>
          </tr>
        </tbody>

        <tbody id="group3" style="display:{if $smarty.post.contentsCategory == 3 || ( !$smarty.post.contentsCategory && $data.contentsCategory == 3 )}table-row-group{else}none{/if}">
          <tr>
            <th style="text-align:right;" class="threg">内容<span style="color:#ff0000;" id="comment77">＊</span></th>
            <td class="tdreg">
            {if $flg == 1}
                <div class="confFCK">
                    {$confContents}
                </div>
                <input type="hidden" name="comment" value="{$hiddenValue}" />
            {else}
            {$form.comment.html}
{literal}
                <script type="text/javascript">
                  var news_text = CKEDITOR.replace( 'comment',{"toolbar": [
	['Source','Preview','Templates'] 
	,['Cut','Copy','Paste','PasteText','PasteFromWord'] 
	,['Bold',/*'Italic',*/'Underline','Strike'] 
	,['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'] 
	,['Link','Unlink'/*,'Anchor'*/] 
	,['Image','Table'] 
	,[/*'Styles',*/'Format',/*'Font',*/'FontSize'] 
	,['TextColor','BGColor'] 
	]} );

                  CKFinder.setupCKEditor( news_text, './js/ckfinder/' );
{/literal}
                </script>
            {/if}
            <span style="color:#ff0000;">＊最大表示幅：957px</span>
            </td>
          </tr>
        </tbody>

          <tr>
            <th style="text-align:right;" class="threg">公開</th>
            <td class="tdreg">{$form.dispFlg.html}</td>
          </tr>

       </table>
       <div id="naviBt03">
        <ul>
         <li>{if !$flg}{$form.submitConf.html}{else}{$form.submitReg.html}{/if}</li>
         <li>{if !$flg}{else}{$form.submitReturn.html}{/if}</li>
         {$form.hidden}</form>
        </ul>
       </div>
       <div class="clear"></div>
     </div>
     <div class="clear"></div>
    </div>
   </div>
   
   {include file="./common/menu.html"}
   <div class="clear"></div>
   {include file="./common/footer.html"}
 </body>
</html>

