<div id="left_area">
<section id="ca_box">
<nav id="ca_list">
<h3><span>カテゴリから探す</span></h3>
<ul id="ca_list_in">
<li><a href="">研削砥石</a></li>
<li><a href="">CBNホイール</a></li>
<li><a href="">ダイヤモンドホイール</a></li>
<li><a href="">工業用研磨布紙</a></li>
<li><a href="">研削・研磨Related Product</a></li>
<li><a href="">その他</a></li>
</ul>
<!--/ca_list_in-->
</nav>
</section>
<!--/ca_box-->
<section id="se_box">
<nav id="se_list">
<h3><span>研削方式から探す</span></h3>
<ul id="se_list_in">
<li><a href="">円筒研削</a></li>
<li><a href="">平面研削</a></li>
<li><a href="">内面研削</a></li>
<li><a href="">センタレス研削</a></li>
<li><a href="">カム・クランク研削</a></li>
<li><a href="">工具研削</a></li>
<li><a href="">その他</a></li>
</ul>
<!--/ca_list_in-->
</nav>
</section>
<!--/ca_box-->
<p class="btm15"><a href=""><img src="/en/common/image/l_bnr01.jpg" width="230" height="115" alt="" class="rollover"/></a></p>
<section id="com_box">
<h3>クレトイシ株式会社<br>
<span>KURE GRINDING WHEEL CO.,LTD.</span></h3>
<p class="center btm10"><img src="/en/common/image/l_ph02.jpg" alt=""/></p>
<address>〒105-0013<br>
東京都港区浜松町2丁目1番5号</address>
<p class="c_link"><a href="">http://www.kgw.co.jp/</a></p>
<p class="center btm10"><img src="/en/common/image/com_tel01.png" width="193" height="21" alt=""/></p>
<p class="c_btn"><a href=""><span>会社案内</span></a></p>
</section>
<!--/com_box-->
<nav id="bnr_list">
<ul>
<li><a href=""><img src="/en/common/image/l_bnr02.jpg" alt=""/></a></li>
<li><a href=""><img src="/en/common/image/l_bnr03.jpg" alt=""/></a></li>
<li><a href=""><img src="/en/common/image/l_bnr04.jpg" alt=""/></a></li>
<li><a href=""><img src="/en/common/image/l_bnr05.jpg" alt=""/></a></li>
</ul>
</nav>
<!--/bnr_list-->
</div>
<!--/left_area-->