# SiteGuard_User_ExcludeSig sqlinj-20
# SiteGuard_User_ExcludeSig xss-style-8
# SiteGuard_User_ExcludeSig sqlinj-9
# SiteGuard_User_ExcludeSig sqlinj-13
# SiteGuard_User_ExcludeSig sqlinj-10
# SiteGuard_User_ExcludeSig sqlinj-22
# SiteGuard_User_ExcludeSig oscmd-16
# SiteGuard_User_ExcludeSig sqlinj-21
# SiteGuard_User_ExcludeSig sqlinj-2
# SiteGuard_User_ExcludeSig sqlinj-system-18
# SiteGuard_User_ExcludeSig xss-style-2
# SiteGuard_User_ExcludeSig xss-style-7
# SiteGuard_User_ExcludeSig sqlinj-19