<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<title>森田アルミ工業</title>
<meta name="description" content="森田アルミ工業">
<meta name="Keywords" content="">
<meta property="og:title" content="森田アルミ工業">
<meta property="og:type" content="website">
<meta property="og:description" content="森田アルミ工業">
<meta property="og:image" content="">
<meta property="og:site_name" content="森田アルミ工業">
<link rel="shortcut icon" href="/image/icon/favicon.ico">
<link rel="apple-touch-icon" href="/image/icon/ios.png"/>
<link rel="icon" href="/image/icon/ios.png">
<link rel="stylesheet" type="text/css" href="/en/common/css/reset-fonts.css">
<link rel="stylesheet" type="text/css" href="/en/common/css/reset-min.css">
<link rel="stylesheet" type="text/css" href="/en/common/css/comp.css">
<link rel="stylesheet" type="text/css" href="/en/common/css/contents.css">
<!--[if IE]><link rel="stylesheet" href="/en/common/css/fontsize_ie.css" media="all" /><![endif]-->
<!--[if lt IE 9]><script src="/en/common/js/html5shiv.js"></script><![endif]-->
<link href="/en/common/css/bootstrap.min.css" rel="stylesheet">
<link href="/en/common/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Rajdhani:400,300' rel='stylesheet' type='text/css'>
</head>
<body>

{include file="../common/header.html"}
<section id="md_area">
	<div id="md_area_in">
		<h1>Product Information</h1>
	</div>
	<!--/md_area_in--> 
</section>
<!--/md_area-->
<!--<nav id="c_glo">
	<ul id="c_glo_in">
		<li><a href="">同カテゴリ名別ページ名</a></li>
		<li><a href="">同カテゴリ名別ページ名</a></li>
		<li><a href="">同カテゴリ名別ページ名</a></li>
		<li><a href="">同カテゴリ名別ページ名</a></li>
	</ul>
	
</nav>-->
<!--/c_glo-->

<article id="contents">
<nav id="pan">
<ul>
<li><a href="">HOME</a></li>
<li><a href="">Product Information</a></li>
<li><span>{$data.subName}&nbsp;{$data.name}</span></li>
</ul>
<br class="clearfix">
</nav>
<!--/pan-->
	<div class="md002">
		<h2 class="head02 pro">{$data.subName}</h2>
		<p class="sub_md">{$data.name}</p>
	</div>
	<!--/md002-->
	<nav class="in_list">
	<ul>
	{if $data.commentTitle}<li><a href="#T01">{$data.commentTitle}</a></li>{/if}
	{if $data.otherComment}<li><a href="#T02">{if $data.otherTitle}{$data.otherTitle}{else}その他{/if}</a></li>{/if}
	{if $data.otherComment2}<li><a href="#T09">{if $data.otherTitle2}{$data.otherTitle2}{else}その他{/if}</a></li>{/if}
	{if $data.caseImg}<li><a href="#T03">設置事例</a></li>{/if}
	{if $data.catalog || $data.draw}<li><a href="#T04">ダウンロード</a></li>{/if}
	{if $data.faq}<li><a href="#T05">FAQ</a></li>{/if}
	{if $data.news}<li><a href="#T06">お知らせ</a></li>{/if}
	{if $data.review}<li><a href="#T07">ユーザーレビュー</a></li>{/if}
	</ul>
	</nav>
	<!--/in_list-->
	<section class="box">
	<div id="slider02" class="flexslider">
  <ul class="slides">
{foreach from=$data.mainImg item=value name=result key=key}
    <li><img src="/upImage/product/{$value.fileName}" /></li>
{/foreach}


  </ul>
</div>
	</section>
	<!--/box-->
	<section class="box btm50">
	
	<h3 class="head03">{$data.subTitle}</h3>
	<p class="center">{$data.subComment|nl2br}</p>
	</section>
	<!--/box-->

{if $data.comment}
	<section class="box">
	<hr class="kai001" id="T01">
	<div class="md003">
			<h3 class="head">{if $data.commentTitle}{$data.commentTitle}{/if}</h3>
		</div>
		<!--/md003-->
	<section class="box gray">
	{$data.comment}

	</section>
	<!--/box gray-->
	</section>
{/if}

{if $data.otherComment}
	<!--/box-->
	<section class="box">
	<hr class="kai001" id="T02">
	<div class="md003">
	
			<h3 class="head">{if $data.otherTitle}{$data.otherTitle}{else}その他{/if}</h3>
		</div>
		<!--/md003-->
	<section class="box gray">
{$data.otherComment}
	</section>
	<!--/box gray-->
	</section>
	<!--/box-->
{/if}

{if $data.otherComment2}
	<!--/box-->
	<section class="box">
	<hr class="kai001" id="T09">
	<div class="md003">
	
			{if $data.otherTitle2}<h3 class="head">{$data.otherTitle2}</h3>{/if}
		</div>
		<!--/md003-->
	<section class="box gray">
{$data.otherComment2}
	</section>
	<!--/box gray-->
	</section>
	<!--/box-->
{/if}

{if $data.caseImg}
	<section class="box">

	<hr class="kai001" id="T03">
	<div class="md003">
			<h3 class="head">Inspiration</h3>
		</div>
		<!--/md003-->
<div id="slider" class="flexslider">

  <ul class="slides">
{foreach from=$data.caseImg item=value name=result key=key}
    <li><img src="/upImage/product/{$value.fileName}" /></li>
{/foreach}

  </ul>
</div>
<div id="carousel" class="flexslider btm40">
  <ul class="slides">
{foreach from=$data.caseImg item=value name=result key=key}
    <li><img src="/upImage/product/{$value.fileName}" /></li>
{/foreach}

  </ul>
</div>

	<nav class="btn_area con_dis001" id="im_bb">
{if !$smarty.session.member.flg}
	<!--///会員登録がまだの場合.btn_area_inではさむ-->
	<div class="btn_area_in">

	<div id="im_d">
	<div id="im_d02">
	<p class="size19 bold btm20">画像ダウンロードするには会員登録が必要となります。</p>
		<nav class="btn_area">
			<ul>
				<li><a href="/en/member/?id={$smarty.get.id}" class="btn03">会員登録画面へ</a></li>
			</ul>
		</nav>
		<!--/btn_area-->
		</div>
		<!--/im_d02-->
	</div>
{/if}
	<!--/im_d-->
			<ul>
				<li><a{if $smarty.session.member.flg} href="./download.php?id={$data.id}"{/if} class="btn01">画像ダウンロード</a></li>
			</ul>
{if !$smarty.session.member.flg}
	</div>
{/if}



	<!--/btn_areaここまで-->
	</nav>
		<!--/btn_area-->
	</section>
{/if}{*/caseImg*}

{if $data.catalog || $data.draw}
	<!--/box-->
	<section class="box con_dis001">
	<hr class="kai001" id="T04">
		<div class="md003">
			<h3 class="head">ダウンロード</h3>
		</div>
		<!--/md003-->
{if !$smarty.session.member.flg}
		<!--///会員登録がまだの場合.m_hではさむ-->
		<div id="m_h">
		
		
		<!--///会員登録がまだの場合以下を追加-->
		<div id="m_h_in">
		<div class="m_h_in02">
		<p class="size19 bold btm20">ダウンロードするには会員登録が必要となります。</p>
		<nav class="btn_area">
			<ul>
				<li><a href="/en/member/?id={$smarty.get.id}" class="btn03">会員登録画面へ</a></li>
			</ul>
		</nav>
		<!--/btn_area-->
		</div>
		<!--/m_h_in02--> 
		</div>
		<!--/m_h_in-->
		<!--/////ここまで-->
{/if}

	<nav class="d_load">
{if $data.catalog}
		<div class="f_l">
			<h5 class="head">カタログダウンロード</h5>
			<ul class="d_in">
{foreach from=$data.catalog item=value name=result key=key}
				<li>
					<a {if $smarty.session.member.flg} href="./file.php?fileName={$value.fileName}&imgId={$value.imgId}&id={$data.id}&mode=1"{/if}>
					<span class="txt_m">{if $value.imageAlt}{$value.imageAlt}{else}{$value.fileName}{/if}</span>
					<span class="txt_m02">DOWNLOAD</span>
					<br class="clearfix">
					</a>
				</li>
{/foreach}
			</ul>
			<!--/d_in--> 
		</div>
		<!--/f_l-->
{/if}
{if $data.draw}
		<div class="f_l">
			<h5 class="head">図面ダウンロード</h5>
			<ul class="d_in">
{foreach from=$data.draw item=value name=result key=key}
				<li>
					<a{if $smarty.session.member.flg} href="./file.php?fileName={$value.fileName}&imgId={$value.imgId}&id={$data.id}&mode=2"{/if}>
					<span class="txt_m">{if $value.imageAlt}{$value.imageAlt}{else}{$value.fileName}{/if}</span>
					<span class="txt_m02">DOWNLOAD</span>
					<br class="clearfix">
					</a>
				</li>
{/foreach}
			</ul>
			<!--/d_in--> 
		</div>
		<!--/f_r-->
{/if}
		<br class="clearfix">
	</nav>
	<!--/d_load-->
	
{if !$smarty.session.member.flg}
	</div>
{/if}
	<!--/m_hここまで-->
	</section> 
{/if}{*/カタログ*}
	<!--/box-->


{if $data.faq}
	<section class="box">
	<hr class="kai001" id="T05">
		<div class="md003">
			<h3 class="head">FAQ</h3>
		</div>
		<!--/md003-->
		<nav id="q_cat">
		<ul>
{foreach from=$data.faq item=value name=result key=key}
			<li><a href="../faq/detail.php?id={$value.id}#T{$value.categoryId}">{$value.name}</a></li>
{/foreach}
		</ul>
		<br class="clearfix">
		</nav>
		<!--/q_cat-->
	</section>
	<!--/box-->
{/if}

{if $data.news}
	<section class="box">
	<hr class="kai001" id="T06">
		<div class="md003">
			<h3 class="head">お知らせ</h3>
		</div>
		<!--/md003-->

		<div id="news_list">
{if $data.news.1}
		<nav class=" n_list01">
		<h5 class="head">受賞歴</h5>
		<ul>
{foreach from=$data.news.1 item=value name=result key=key}
		<li>
		<a href="{if $value.type == 1}{$value.url}{else}../upImage/product_news/{$value.pdfFileName}{/if}" target="_blank">
		<span class="n_t">{$value.dateTime|date_format:"%Y"}</span>
		<span class="n_tit">{$value.title}</span>
		</a>
		</li>
		<!--/-->
{/foreach}
		<!--/-->
		</ul>
		</nav>
		<!--/n_list01-->
{/if}
{if $data.news.2}
		<nav class=" n_list01">
		<h5 class="head">プレスリリース</h5>
		<ul>
{foreach from=$data.news.2 item=value name=result key=key}
		<li>
		<a href="{if $value.type == 1}{$value.url}{else}../upImage/product_news/{$value.pdfFileName}{/if}" target="_blank">
		<span class="n_t">{$value.dateTime|date_format:"%Y"}</span>
		<span class="n_tit">{$value.title}</span>
		</a>
		</li>
		<!--/-->
{/foreach}
		</ul>
		</nav>
		<!--/n_list01-->
{/if}
{if $data.news.3}
		<nav class=" n_list01 last">
		<h5 class="head">関連情報</h5>
		<ul>
{foreach from=$data.news.3 item=value name=result key=key}
		<li>
		<a href="{if $value.type == 1}{$value.url}{else}../upImage/product_news/{$value.pdfFileName}{/if}" target="_blank">
		<span class="n_t">{$value.dateTime|date_format:"%Y"}</span>
		<span class="n_tit">{$value.title}</span>
		</a>
		</li>
		<!--/-->
{/foreach}
		<!--/-->
		</ul>
		</nav>
		<!--/n_list01-->
{/if}
		<br class="clearfix">
		</div>
	</section>
	<!--/box-->
{/if}
</article>
<!--/contents-->



{if $data.related}
<article id="contents03">
<div class="md003">
			<h3 class="head">Related Product</h3>
			<nav id="pro_list01">
			<ul>
{foreach from=$data.related item=value name=result key=key}<li>
					<a href="./detail.php?id={$key}">
						<p class="pl_ph"><img src="/upImage/product/{$data.relatedImd.$key}" alt=""/></p>
						<h5>{$data.relatedSubName.$key}</h5>
						<p class="s_title">{$data.relatedName.$key}</p>
					</a>
				</li>{/foreach}
		</ul>		
				<br class="clearfix">
			</nav>
		</div>
		<!--/md003-->
</article>
<!--/contents03-->
{/if}
{include file="../common/footer.html"}
<script src="/en/common/js/import.js"></script> 
<script src="/en/common/js/bootstrap.min.js"></script>
<!--product-->
<script src="/en/common/js/jquery.flexslider.js"></script>
{literal}
<script>
//uniq
$(window).load(function() {
  // The slider being synced must be initialized first
  $('#carousel').flexslider({
    animation: "slide",
    controlNav: false,

{/literal}{if $data.caseCnt <= 7}
    directionNav:false,
{/if}{literal}

    animationLoop: false,
    slideshow: false,
    itemWidth: 128,
    itemMargin: 0,
		maxItems: 7,
		animationLoop: true,
    asNavFor: '#slider'
  });
 
  $('#slider').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: true,
    slideshow: true,
		slideshowSpeed: 2000,
    sync: "#carousel"
  });
	 $('#slider02').flexslider({
    animation: "slide",
    controlNav: true,
    animationLoop: true,
    slideshow: true,
		slideshowSpeed: 5000
  });
});
$(window).on('load resize', function(){
			var vo01 = $('#voice').height();
			var vo02 = $('#m_h').height();
			var vo03 = $('#im_bb').height();
			$('#voice_in').css({'height':vo01 + 72});
			$('#m_h_in').css({'height':vo02 + 40});
			$('#im_d').css({'height':vo03});
		});
</script>
<!--/product-->


<link rel="stylesheet" type="text/css" href="/common/js/fancybox/jquery.fancybox.css">
<script src="/en/common/js/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
<script src="/en/common/js/fancybox/jquery.fancybox.pack.js"></script>
<script>
$(document).ready(function(){
    $( '.fancybox_if' ).fancybox({
        'width'         : 950,
        'height'        : '90%',
        'autoScale'     : false,
        'transitionIn'  : 'none',
        'transitionOut' : 'none',
        'type'          : 'iframe'
    });

});
</script>
<script>
$(window).on('load resize', function(){
	if (window.matchMedia('screen and (min-width:768px)').matches) { 
	var h001 = $('.in_list ul').height();
	$('.in_list').css({
		'height':h001 + 40
		});
		}else{
			$('.in_list').css({
		'height':'auto'
		});
			}
	});
	$(window).scroll(function () {
var initial0 = $(this).scrollTop();
var first = $('.in_list').offset().top;

if(initial0 > first) {
$('.in_list ul').addClass('fixed');

}else {
   $('.in_list ul').removeClass('fixed');
  }
});
</script>

{/literal}
</body>
</html>
